@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Livvic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body {
background-size: cover;
background-position: left;
background-image: url(images/bg1.jpg);
/*background-color: #FFD8C0; */
height: 7px;
/*font-family: 'Bree Serif', serif;*/
/* font-family: lobster; */
font-family: 'Work Sans', sans-serif;
/*    font-family: 'Montserrat', sans-serif;*/
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  /*text-align: center;*/
}
:root{
    --navbar-height: 59px;
}

/
/*Section Home*/
#home::before{
    content: "";
    position: absolute;
    /*background: url('https://images.unsplash.com/photo-1503951914875-452162b0f3f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80') no-repeat center center/cover;*/
    background-color: #e5e5e5;
    height: 700px;
    width: 100%;
    z-index: -2;
    opacity: 1;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
  /*  padding: 3px 100px;
    margin: 0px 100px; */
    flex-direction: column;
    text-align: center;
    height: 700px;
}

#home h1{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: 10px;
}

#home p{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    color: white;
    display: block;
  /*  margin: auto; */
    margin-bottom: 10px;
    margin-top: 10px;
}
#home .btn{
    opacity: 80%;
    background-color: black;
    color: white;
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#home .btn:hover{
    opacity: 100%;
}

/*Home animation*/
.mySlides {
    height: 700px;
    /* width: 100%; */
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
#home img {
 height: 700px;
 width: 100%;
 vertical-align: middle;
 filter: brightness(0.47);

}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 700px;
}

/* Caption text */
/*.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
  /*  padding: 8px 12px; */
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 650px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

/* The dots/bullets/indicators */
.dot {
  display: none;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 1100px) {

  .text {font-size: 11px}
  .slideshow-container {
    width: 981px;
  }
  .mySlides {
    width: 981px;
  }
  #home img{
    width: 100%;
  }


}
.Abtus{
  display: block;
  margin: 0;
  padding: 32px 24px;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  border-bottom: 1px solid #eee;
  width: 100%;
}
.svg-wrapper {
  height: 60px;
  margin-top: 120px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: black;
}

.texth {
  color: black;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
.topic{
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  color: #ffffff;
/*  margin-top: 500px; */
  text-align: center;
/*  margin-bottom: 150px; */
  width: 100%;
  height: 550px;
  background-size: cover;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 0;
  padding-top: 30px;
}


.para{
  position: absolute;
  text-align: center;
  margin-top: 250px;
  margin-left: 260px;
  color: #ffffff;
}
.top{
  color: #ffffff;
  position:absolute;
  margin-top: 350px;
  margin-left: 100px;
}
.topic p {
  color: #ffffff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 50px;
  font-family: 'Brush Script MT', cursive;
  padding-bottom: 10px;
}
.topic h1{
  text-shadow: 2px 2px 8px #000000;
  padding-top: 30px;
}
.topic h4{
  font-weight: normal;
  margin-left: 30px;
  margin-right: 30px;
}
.top{
  color: #ffffff;
  font-size: 30px;
}
.terms{
    color: #555457;
    position: absolute;
    display: block;
    padding: 12px 18px;
    margin-bottom: 2px;
    background: #dfdcdc;
    font-size: 20px;
    margin-top: 550px;
    margin-left: 230px;
}
.priv{
    position: absolute;
    display: block;
    padding: 12px 18px;
    margin-bottom: 2px;
    background: #dfdcdc;
    font-size: 20px;
    margin-top: 550px;
    margin-left: 870px;
}
.brk{
  border-style:solid none none;
  border-color: #000000;
  width: 75%;
  margin-top: 50px;
  border-width: medium;
}
.right {
  width: 30%;
  float: right;
  margin-top: 5px;
  position: absolute;
  text-align: right;
  margin-left: 700px;
}
.barbera {
  margin-top: 7px;
  margin-left: 10px;
  text-align: left;
  position: absolute;
  width: 13%;
  background-color: #FFFFFF;
}

.mission{
  color: #000000;
  font-family: serif;
  text-align: right;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}
.dedication{
  margin-right: 150px;
  margin-left: 500px;
  margin-bottom: 75px;
  text-align: right;
}
.whoarewe{
  background-color: rgb(237 237 237);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding:10px 20px 20px 30px;
  /* margin-top: 30px; */
/*  margin: 20px; */
  width: 100%;
  border: 20px solid white;
  background-image: url("images/bg1.jpg");
}
.video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* padding:50px 20px 0;
  margin: 20px;
  margin-bottom: 40px;
  width: 90%; */
}
.gettoknow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: rgb(237 237 237);
  padding:30px 20px 0;
  margin: 20px;
  /* padding-bottom: 50px; */
  /* margin-bottom: 40px; */
  width: 97%;
  /*box-shadow: 0 15px 50px rgb(202 196 196);*/
}
.gettoknow h2{
  text-align: center;
}
.mater{
  margin: 20px 0 0;
  text-align: center;
  font-size: 1.2rem;
}
.bgr::before{
  background: white;
}
.bgr{
  display: flex;
  justify-content: center;
  align-content: center;
  background: #efeded;
  padding:20px 20px 20px;
  margin-top: 70px;
  margin: 20px;
  /* padding-bottom: 50px; */
  /* margin-bottom: 40px; */
  width: 97%;
}
.vishal{
  display: flex;
  /* margin-top: 70px; */
}
.vishal .imeg{
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.bgr .tbox1{
  height: 300px;
  width: 300px;
  margin-top: 0;

}
.bgr .tbox2{
  height: 300px;
  width: 300px;
  margin-right: 35px;
  margin-top: 0;
}
.our{
  font-size: 2.5rem;
}
.mishon{
  height: 300px;
  width: 300px;
  position: absolute;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
border-radius: 15px;
}
.mish{
  background-color: none;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin-top: 100px;
}
section {
    position: relative;
    width: 100%;
    float: left;
    z-index: 1;
}

@media (max-width: 767px) and (min-width: 300px)
.why_barbera {
    padding: 80px 0;
    overflow: hidden;
}
.why_barbera{
  background-color: #efeded;
  width: 97%;
  margin: 20px;
}
.ybarb{
  padding: 2px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.ybarb .head ul{
  list-style: none;
}
@media (max-width: 767px) and (min-width: 300px)
.head {
    margin-bottom: 60px;
}
.head{
    width: 100%;
    clear: both;
    text-align: center;
}
@media (max-width: 767px) and (min-width: 300px)
{.head h2{
    font-size: 20px;
    text-align: center;
    padding: 0 0 0 12px;
  }
}
.head h2 {
    position: relative;
    font-size: 2.5rem;
    z-index: 1;
    color: var(--base_color);
    margin-top: 10px;
}
.why_barbera .head h1:before {
    color: #f1f1f1;
    white-space: nowrap;
}
@media (max-width: 767px) and (min-width: 300px)
.head h2:before {
    font-size: 60px;
    bottom: 10px;
}
@media (max-width: 767px) and (min-width: 300px)
.head h2:after {
    height: 2px;
    bottom: -15px;
}
.head h2:after {
    position: absolute;
    content: "";
    transform: translateX(-50%);
    left: 50%;
}
@media (max-width: 767px) and (min-width: 300px)
.matter {
    white-space: nowrap;
    overflow-x: scroll;
    padding: 0 0 20px 20px;
}
.matter {
    width: 100%;
    max-width: 1100px;
    /* margin: 0 auto; */
}
.trained{
display: flex;
justify-content: center;
align-content: center;
background: #efeded;
padding:50px 20px 0;
margin: 0px;
padding-bottom: 50px;
margin-bottom: 40px;
width: 97%
}
.sanitation{
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-content: center;
background: #efeded;
padding:50px 20px 0;
margin: 0px;
padding-bottom: 50px;
margin-bottom: 40px;
width: 97%;
}
.qualityequipment{
display: flex;
justify-content: center;
align-content: center;
background: #efeded;
padding:50px 20px 0;
margin: 0px;
padding-bottom: 50px;
margin-bottom: 40px;
width: 97%;
}
@media (max-width: 767px) and (min-width: 300px)
.trained {
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    float: initial;
    white-space: normal;
    margin-right: 30px;
    max-width: 320px;
    height: 400px;
}

@media (max-width: 767px) and (min-width: 300px)
.imag {
    width: 100%;
    height: auto;
}
.imag {
    width: 615px;
    height: 335px;
    border-radius: 7px;
    overflow: hidden;
    float: left;
    -webkit-box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
}
.imag img{
/*    transition: all 0.5s ease;
    display: inherit; */
    height: 335px;
    width: 615px;
}
.imag img:hover{
  height: 400px;
  width: 650px;
  transition: all 0.5s ease;
  display: inherit;
}

@media (max-width: 767px) and (min-width: 300px){
.text {
    width: 100%;
    margin-top: 30px;
    padding-left: 0;
}
}
.yb{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.text1 {
    /* width: 485px; */
    /* text-align: right; */
    /* margin-top: 60px; */
    /* padding-left: 50px; */
    /* margin-right: 40px; */
    /* float: right; */
}
.text2 {
    width: 485px;
    /* text-align: left; */
    /* margin-top: 60px; */
    /* padding-left: 50px; */
    /* float: right; */
    /* margin-right: 40px; */
}
.text3 {
    /* width: 485px; */
    /* text-align: right; */
    /* margin-top: 60px; */
    /* padding-left: 50px; */
    /* float: right; */
    /* margin-right: 40px; */
}
.text {
    width: 485px;
    text-align: right;
    margin-top: 20px;
    padding-left: 50px;
    float: right;
    margin-right: 40px;
}
.trained p{
  line-height: 24px;
  font-weight: 300;
  display: block;
  margin-bottom: 30px;
}
@media (max-width: 767px) and (min-width: 300px)
.sanitation {
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    float: initial;
    white-space: normal;
    margin-right: 30px;
    max-width: 320px;
    height: 400px;
}

.sanitation p{
  line-height: 24px;
  font-weight: 300;
  display: block;
  margin-bottom: 30px;
}
/* --------------------------------

File#: _1_vertical-timeline
Title: Vertical Timeline
Descr: A vertical timeline used to display a sequence of events/steps
Usage: codyhouse.co/license

-------------------------------- */
:root {
  --v-timeline-marker-size: 16px;
  --v-timeline-track-width: 2px;
  --v-timeline-triangle-size: 12px;
  --v-timeline-sections-gap: var(--space-lg);
  --v-timeline-items-gap: var(--space-sm);
}

.v-timeline {
  position: relative;
  padding: var(--space-lg) 0;
}

.v-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc((var(--v-timeline-marker-size) - var(--v-timeline-track-width))*0.5);
  height: 100%;
  width: var(--v-timeline-track-width);
  background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.1);
}

.v-timeline__section {
  position: relative;
  display: flex;
}

.v-timeline__section:not(:last-of-type) {
  margin-bottom: var(--v-timeline-sections-gap);
}

.v-timeline__marker {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  height: var(--v-timeline-marker-size);
  width: var(--v-timeline-marker-size);
  border-radius: 50%;
  margin-right: calc(var(--v-timeline-triangle-size) + var(--space-xxs));
}

.v-timeline__item {
  position: relative;
  top: calc(0.5 * var(--v-timeline-marker-size));
  flex-grow: 1;
}

.v-timeline__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(-1 * var(--v-timeline-triangle-size) + 1px);
  height: var(--v-timeline-triangle-size);
  width: var(--v-timeline-triangle-size);
  background-color: inherit;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.v-timeline__item:not(:last-child) {
  margin-bottom: var(--v-timeline-items-gap);
}

.v-timeline__item:not(:first-child) .v-timeline__date {
  display: none;
}

.v-timeline__item:not(:first-child)::before {
  display: none;
}

.v-timeline__date-value {
  color: var(--color-contrast-medium);
  font-size: var(--text-sm);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media not all and (min-width: 64rem) {
  .v-timeline__item:first-child {
    border-top-left-radius: 0;
  }
}

@media (min-width: 64rem) {
  .v-timeline::before {
    left: calc(50% - var(--v-timeline-track-width)/2);
  }
  .v-timeline__section {
    width: calc(50% + var(--v-timeline-marker-size)/2);
  }
  .v-timeline__section:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .v-timeline__section:nth-child(odd) .v-timeline__marker {
    margin-right: 0;
    margin-left: calc(var(--v-timeline-triangle-size) + var(--space-xxs));
  }
  .v-timeline__section:nth-child(odd) .v-timeline__item::before {
    left: auto;
    right: calc(-1 * var(--v-timeline-triangle-size) + 1px);
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  .v-timeline__section:nth-child(odd) .v-timeline__item:first-child {
    border-top-right-radius: 0;
  }
  .v-timeline__section:nth-child(odd) .v-timeline__date {
    right: calc(-2 * (var(--v-timeline-triangle-size) + var(--space-xxs)) - var(--v-timeline-marker-size));
    -webkit-transform: translateX(100%) translateY(-50%);
            transform: translateX(100%) translateY(-50%);
  }
  .v-timeline__section:nth-child(even) {
    margin-left: auto;
  }
  .v-timeline__section:nth-child(even) .v-timeline__item:first-child {
    border-top-left-radius: 0;
  }
  .v-timeline__section:nth-child(even) .v-timeline__date {
    left: calc(-2 * (var(--v-timeline-triangle-size) + var(--space-xxs)) - var(--v-timeline-marker-size));
    -webkit-transform: translateX(-100%) translateY(-50%);
            transform: translateX(-100%) translateY(-50%);
  }
  .v-timeline__section--is-hidden {
    opacity: 0;
  }
  .v-timeline__date {
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  .js .v-timeline[data-animation="on"] .v-timeline__marker {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    transition: opacity 0.6s, -webkit-transform 0.6s var(--ease-out);
    transition: transform 0.6s var(--ease-out), opacity 0.6s;
    transition: transform 0.6s var(--ease-out), opacity 0.6s, -webkit-transform 0.6s var(--ease-out);
  }
  .js .v-timeline[data-animation="on"] .v-timeline__item {
    opacity: 0;
    transition: opacity 0.6s, -webkit-transform 0.6s var(--ease-out);
    transition: transform 0.6s var(--ease-out), opacity 0.6s;
    transition: transform 0.6s var(--ease-out), opacity 0.6s, -webkit-transform 0.6s var(--ease-out);
  }
  .js .v-timeline[data-animation="on"] .v-timeline__section:nth-child(odd) .v-timeline__item {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  .js .v-timeline[data-animation="on"] .v-timeline__section:nth-child(even) .v-timeline__item {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  .js .v-timeline[data-animation="on"] .v-timeline__section--animate .v-timeline__item {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    opacity: 1;
  }
  .js .v-timeline[data-animation="on"] .v-timeline__section--animate .v-timeline__marker {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.v-timeline--icons {
  --v-timeline-marker-size: 3em;
}

/* --------------------------------

File#: _1_vertical-timeline
Title: Vertical Timeline
Descr: A vertical timeline used to display a sequence of events/steps
Usage: codyhouse.co/license

-------------------------------- */
:root {
  --v-timeline-marker-size: 16px; // dot indicator size
  --v-timeline-track-width: 2px; // vertical track (line) width
  --v-timeline-triangle-size: 12px; // triangle indicator size
  --v-timeline-sections-gap: var(--space-lg); // gap between sections (section = marker + item/s)
  --v-timeline-items-gap: var(--space-sm); // gap between items (if there are more than one within same date)
}

.v-timeline {
  position: relative;
  padding: var(--space-lg) 0; // y padding

  &::before { // track
    content: '';
    position: absolute;
    top: 0;
    left: calc((var(--v-timeline-marker-size) - var(--v-timeline-track-width))*0.5);
    height: 100%;
    width: var(--v-timeline-track-width);
    background-color: alpha(var(--color-contrast-higher), 0.1);
  }
}

.v-timeline__section {
  position: relative;
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: var(--v-timeline-sections-gap);
  }
}

.v-timeline__marker {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  height: var(--v-timeline-marker-size);
  width: var(--v-timeline-marker-size);
  border-radius: 50%;
  margin-right: calc(var(--v-timeline-triangle-size) + var(--space-xxs));
}

.v-timeline__item {
  position: relative;
  top: calc(0.5 * var(--v-timeline-marker-size));
  flex-grow: 1;

  &::before { // triangle indicator
    content: '';
    position: absolute;
    top: 0;
    left: calc(-1 * var(--v-timeline-triangle-size) + 1px);
    height: var(--v-timeline-triangle-size);
    width: var(--v-timeline-triangle-size);
    background-color: inherit;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  }

  &:not(:last-child) {
    margin-bottom: var(--v-timeline-items-gap); // gap between timeline items
  }

  &:not(:first-child) {
    .v-timeline__date {
      display: none; // hide date if not first item
    }

    &::before {
      display: none; // hide triangle if not first item
    }
  }
}

.v-timeline__date-value { // date label
  color: var(--color-contrast-medium);
  font-size: var(--text-sm);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@include breakpoint(md, "not all") { // style applied only before breakpoint 'md'
  .v-timeline__item:first-child {
    border-top-left-radius: 0;
  }
}

@include breakpoint(md) { // edit timeline layout
  .v-timeline::before { // track
    left: calc(50% - var(--v-timeline-track-width)/2);
  }

  .v-timeline__section {
    width: calc(50% + var(--v-timeline-marker-size)/2);

    &:nth-child(odd) {
      flex-direction: row-reverse;

      .v-timeline__marker {
        margin-right: 0;
        margin-left: calc(var(--v-timeline-triangle-size) + var(--space-xxs));
      }

      .v-timeline__item {
        &::before { // push triangle to the right
          left: auto;
          right: calc(-1 * var(--v-timeline-triangle-size) + 1px);
          transform: scaleX(-1);
        }

        &:first-child {
          border-top-right-radius: 0;
        }
      }

      .v-timeline__date {
        right: calc(-2 * (var(--v-timeline-triangle-size) + var(--space-xxs)) - var(--v-timeline-marker-size));
        transform: translateX(100%) translateY(-50%);
      }
    }

    &:nth-child(even) {
      margin-left: auto;

      .v-timeline__item {
        &:first-child {
          border-top-left-radius: 0;
        }
      }

      .v-timeline__date {
        left: calc(-2 * (var(--v-timeline-triangle-size) + var(--space-xxs)) - var(--v-timeline-marker-size));
        transform: translateX(-100%) translateY(-50%);
      }
    }
  }

  .v-timeline__section--is-hidden {
    opacity: 0; // used in JS to hide section before the animation
  }

  .v-timeline__date {
    position: absolute;
    top: 0;
    white-space: nowrap;
  }

  // animations
  .js {
    .v-timeline[data-animation="on"] {
      .v-timeline__marker {
        opacity: 0;
        transform: scale(0.5);
        transition: transform .6s var(--ease-out), opacity .6s;
      }

      .v-timeline__item {
        opacity: 0;
        transition: transform .6s var(--ease-out), opacity .6s;
      }

      .v-timeline__section {
        &:nth-child(odd) .v-timeline__item {
          transform: translateX(-50px);
        }

        &:nth-child(even) .v-timeline__item {
          transform: translateX(50px);
        }
      }

      .v-timeline__section--animate {
        .v-timeline__item {
          transform: translateX(0) !important;
          opacity: 1;
        }

        .v-timeline__marker {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}

// --icons
.v-timeline--icons {
  --v-timeline-marker-size: 3em;
}
@media (max-width: 767px) and (min-width: 300px)
.qualityequipment {
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    float: initial;
    white-space: normal;
    margin-right: 30px;
    max-width: 320px;
    height: 400px;
}

.qualityequipment p{
  line-height: 24px;
  font-weight: 300;
  display: block;
  margin-bottom: 30px;
}
.main-timeline8{overflow:hidden;position:relative}
.main-timeline8:after,.main-timeline8:before{content:"";display:block;width:100%;clear:both}
.main-timeline8:before{content:"";width:3px;height:100%;background:#d6d5d5;position:absolute;top:30px;left:50%}
.main-timeline8 .timeline{width:50%;float:left;padding-right:30px;position:relative}
.main-timeline8 .timeline-icon{width:32px;height:32px;border-radius:50%;background:#fff;border:3px solid #fe6847;position:absolute;top:5.5%;right:-17.5px}
.main-timeline8 .year{display:block;padding:10px;margin:0;font-size:30px;color:#fff;border-radius:0 50px 50px 0;background:#fe6847;text-align:center;position:relative}
.main-timeline8 .year:before{content:"";border-top:35px solid #f59c8b;border-left:35px solid transparent;position:absolute;bottom:-35px;left:0}
.main-timeline8 .timeline-content{padding:30px 20px;margin:0 45px 0 35px;background:#f2f2f2}
.main-timeline8 .title{font-size:19px;font-weight:700;color:#504f54;margin:0 0 10px}
.main-timeline8 .description{font-size:14px;color:#7d7b7b;margin:0}
.main-timeline8 .timeline:nth-child(2n){padding:0 0 0 30px}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon{right:auto;left:-14.5px}
.main-timeline8 .timeline:nth-child(2n) .year{border-radius:50px 0 0 50px;background:#7eda99}
.main-timeline8 .timeline:nth-child(2n) .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline8 .timeline:nth-child(2n) .timeline-content{text-align:right;margin:0 35px 0 45px}
.main-timeline8 .timeline:nth-child(2){margin-top:170px}
.main-timeline8 .timeline:nth-child(odd){margin:-175px 0 0}
.main-timeline8 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline8 .timeline:first-child,.main-timeline8 .timeline:last-child:nth-child(even){margin:0}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon{border-color:#7eda99}
.main-timeline8 .timeline:nth-child(2n) .year:before{border-top-color:#92efad}
.main-timeline8 .timeline:nth-child(3n) .timeline-icon{border-color:#8a5ec1}
.main-timeline8 .timeline:nth-child(3n) .year{background:#8a5ec1}
.main-timeline8 .timeline:nth-child(3n) .year:before{border-top-color:#a381cf}
.main-timeline8 .timeline:nth-child(4n) .timeline-icon{border-color:#f98d9c}
.main-timeline8 .timeline:nth-child(4n) .year{background:#f98d9c}
.main-timeline8 .timeline:nth-child(4n) .year:before{border-top-color:#f2aab3}
@media only screen and (max-width:767px){.main-timeline8{overflow:visible}
.main-timeline8:before{top:0;left:0}
.main-timeline8 .timeline:nth-child(2),.main-timeline8 .timeline:nth-child(even),.main-timeline8 .timeline:nth-child(odd){margin:0}
.main-timeline8 .timeline{width:100%;float:none;padding:0 0 0 30px;margin-bottom:20px!important}
.main-timeline8 .timeline:last-child{margin:0!important}
.main-timeline8 .timeline-icon{right:auto;left:-14.5px}
.main-timeline8 .year{border-radius:50px 0 0 50px}
.main-timeline8 .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline8 .timeline-content{margin:0 35px 0 45px}
}
.steps{
  height: 650px;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #efeded;
  padding:70px 20px 0;
  margin: 20px;
}
.steps .tbox{
  height: 300px;
  width: 300px;
  margin-right: 35px;
  margin-top: 0;

}
.steps .tbox1{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.steps .boy{
  padding: 0;
  margin: 0;
  margin-top: 20px;
  border-radius: 10px;
  width: 170px;
  align-items: center;
}
.app{
/*  margin-top: 250px; */
  width: 100%;
  height: 100%
}
.book{
  color: #000000;
  font-family: serif;
  text-align: left;
  font-size: 40px;
  /* margin-bottom: 50px; */
  margin-top: 20px;
  margin-left: 100px;
}

.list{
  margin-left: 80px;
  margin-right: 10px;
/*  margin-bottom: 190px; */
  text-align: left;
}
#phone_app{
  width: 40%;
  margin-left: 15%;
}

@media only screen and (max-width: 1150px) {
  .steps{
    padding: 40px 20px 0;
    height: 600px;
  }
  .tbox2{
    padding: 30px 0 0;
  }
}
/*.team{
  color: #000000;
  font-family: serif;
  text-align: center;
  line-height: 0.5px;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 40px;
}
*/
.team h2{
  text-align: center;
  font-size: 45px;
}
.content{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.sumit{
  text-align: center;
    border-radius: 4px;
    padding: 10px;
    margin: 0px 10px;
}
.photo{
  width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.sumitname{
  margin-top: 8px;
margin-bottom: 0;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
}
.abtsumit{
    padding: 16px 0;
    margin-top: 0;
    margin: 24px 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #726969;
    height: 400px;
}


.himanshu{
  text-align: center;
    border-radius: 4px;
    padding: 10px;
    margin: 0px 10px;
}
.himanshuname{
  margin-top: 8px;
margin-bottom: 0;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
}
.abthimanshu{
    padding: 16px 0;
    margin-top: 0;
    margin: 24px 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #726969;
    height: 360px;
}


.ankit{
  text-align: center;
    border-radius: 4px;
    padding: 10px;
    margin: 0 10px;
}
.ankitname{
  margin-top: 8px;
margin-bottom: 0;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
}
.abtankit{
    padding: 16px 0;
    margin-top: 0;
    margin: 24px 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #726969;
    height: 360px;
}


.anand{
  text-align: center;
    border-radius: 4px;
    padding: 10px;
    margin: 0 10px;
}
.anandname{
  margin-top: 8px;
margin-bottom: 0;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
}
.abtanand{
    padding: 16px 0;
    margin-top: 0;
    margin: 24px 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #726969;
    height: 360px;
}


.abdul{
  text-align: center;
    border-radius: 4px;
    padding: 10px;
    margin: 0 10px;
}
.abdulname{
  margin-top: 8px;
margin-bottom: 0;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
}
.abtabdul{
    padding: 16px 0;
    margin-top: 0;
    margin: 24px 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #726969;
    height: 360px;
}
@media only screen and (max-width:500px){
  .content{
    flex-direction: column;
  }
  .sumit{
    margin: 20px 10px;
  }
  .himanshu{
    margin: 20px 10px;
  }
  .ankit{
    margin: 20px 10px;
  }
  .anand{
    margin: 20px 10px;
  }
  .abdul{
    margin: 20px 10px;
  }
}
.social{
  color: #ffffff;
  font-family: serif;
  font-size: 10px;
  margin-bottom: 100px;
  margin-top: 0px;
  background-size: cover;
  background-color: #000000;
  height: 100px;
}
.fbk{
  position: absolute;
  margin-left: 550px;
  margin-top: 5px;
  margin-right: 30px;
  margin-bottom: 50px;
  width: 30px;
}
.igm{
  position: absolute;
  margin-left: 600px;
  margin-top: 5px;
  margin-right: 30px;
  margin-bottom: 50px;
  width: 30px;
}
.lkn{
  position: absolute;
  margin-left: 650px;
  margin-top: 5px;
  margin-right: 30px;
  width: 30px;
  margin-bottom: 50px;
}
.soshial{
  position:relative;
  text-align: left;
  color: #ffffff;
  margin-left: 30px;
  top: 30px;
  bottom: 0px;
  font-size: 25px;
}

.topic h1 {
  margin: 70px auto 0 auto;
  text-decoration-style: solid;
  text-align:center;

}
h1 {
  margin: 70px auto 0 auto;
  text-decoration-style: solid;
  text-align:center;

}
h2{
  margin-bottom: 0;
  color: #000000;
}
h3{
  color: #4d2600;
}
a{
  text-decoration: none;
}
.for{

}
/*h2 {
  text-align: center;
}*/
/*h4 {
  text-align: center;
  color: #4d2600;
}*/


/*  hr {
    background-color: none;
  /*  border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  } */



  /*.circular{
    border-radius: 200%;
  } */


  .tem{
    margin-top: 50px;
  }
  /*.border{
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 130px;
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
    width: 1000px;
  }

*/



  /*Utility Classes*/

  .head-pri{
      font-size: 3rem;
      padding: 10px 30px;
      text-align: center;
  }

  .btn{
      padding: 15px 15px;
      margin: 10px;
      border: 2px white;
      font-size: 1.5rem;
      background-color: white;
      border-radius: 7px;
      color: #614b4b;

  }
  .btn:hover{
      background-color: grey;
      color: white;
  }
  .head-sec{
      display: block;
      margin: auto;
      font-size: 2rem;
      padding: 10px;
  }
  .kartik{
    display: double none none;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    width: 100%;
  }

  #foot h1{
    font-size: 1.3rem;
    margin: 10px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 100%;
    text-align: left;
  }
  .box ul{
    margin-left: 0px;
    padding-left: 0;
    margin: 0 0 0 0;
  }
  .follow{
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 0;
  }
  .fut{
    font-size: 0.9rem;
    padding: 0;
  }
  .box{
    margin: 0;
  }

  @import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
  .timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
  }
  .timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: 0.4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    color: #fff;
  }
  .timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
  }
  .timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 22%);
  }
  @media only screen and (max-width: 767px) {
    .timeline:before {
      left: 40px;
    }
  }
  .timeline-item {
    padding: 40px 0;
    opacity: 0.5;
    filter: blur(0px);
    transition: 0.5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
  }
  .timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-family: "Pathway Gothic One", sans-serif;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
  }
  .timeline-item:nth-child(even) {
    align-self: flex-end;
  }
  .timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
  }
  .timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
  .timeline-item--active:before {
    top: 50%;
    transition: 0.3s all 0.2s;
    opacity: 1;
  }
  .timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
  }
  @media only screen and (max-width: 767px) {
    .timeline-item {
      align-self: baseline !important;
      width: 100%;
      padding: 0 30px 150px 80px;
    }
    .timeline-item:before {
      left: 10px !important;
      padding: 0 !important;
      top: 50px;
      text-align: center !important;
      width: 60px;
      border: none !important;
    }
    .timeline-item:last-child {
      padding-bottom: 40px;
    }
  }
  .timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  }
  .timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: 0.3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
  }
  .timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
  }
  .timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  .timeline-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Cardo;
    font-weight: normal;
    margin: 0;
  }
  .timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
  }

  .demo-footer {
    padding: 60px 0;
    text-align: center;
  }
  .demo-footer a {
    color: #999;
    display: inline-block;
    font-family: Cardo;
  }

  #phone_app img{
     height: 450px;
     width: 200px;
      }
 #phone_app .carousel-caption{
     margin-bottom: 10%;
 }
 #phone_app .carousel{

     height: 500px;
     width: 270px;
 }
 #phone_app .carousel-control-prev-icon{
     position: absolute;
     top: 10px;
     left: 10px;
     background-color: black;
     color: black;
     border: 1px solid white;
     border-radius: 50px;
 }
 #phone_app .carousel-control-next-icon{
     position: absolute;
     top: 10px;
     right: 10px;
     background-color: black;
     color: black;
     border: 1px solid white;
     border-radius: 50px;
 }
 #phone_app #carouselExampleCaptions{
     position: absolute;
     top: 50px;
     left: 28px;
 }
 #phone_app .outer{
     position: absolute;
     left: 10px;
     height: 550px;
     width: 310px;
 }
 .white{
   background: white;
 }
/* #heading {
  color: blue;
} */

@media only screen and (max-width:1000px) {
.whoarewe{
  flex-direction: column;
}
.bgr{
  flex-direction: column;
  margin: 5px;
}
.vishal{
  flex-direction: column;
  align-items: center;
}
.text{
  text-align: center;
  width: 100%;
}
.trained {
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}
.sanitation {
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.qualityequipment{
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}
.text1{
  width: 80%;
  text-align: center;
  margin: auto;
}
.imag{
  width: 90%;
}
.imag img{
  width: 100%;
}
.text2{
  width: auto;
  text-align: center;
}
.text3{
  width: auto;
  text-align: center;
}
.imag img:hover{
  height: 400px;
  width: 130%;
  transition: all 0.5s ease;
  display: inherit;
}
.video{
  padding-bottom: 0;
  margin-bottom: 0;
}
.steps{
  height: 950px;
  flex-direction: column;
  display: block;
  margin: 5px;
}
.book{
  margin-left: 0;
  text-align: center;
}
.list{
  margin-left: 0;
}
#phone_app{
  margin-left: 32%;
}
.app{
  display: block;
  margin: auto;
}
.gettoknow{
  margin: 5px;
}
.why_barbera{
  margin: 5px;
}
}
/*back to top button*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background: url('https://ps.w.org/ar-back-to-top/assets/icon-256x256.jpg?rev=2022521') no-repeat center center/cover;
  background-size: cover;
  height: 50px;
  width: 50px;
  z-index: 100;
}

/* contact us page */
.ctnt{
  margin-top: 10px;
  margin-bottom: 170px;
}
.dono{
  width: 100%;
    max-width: 850px;
    margin: 50px auto 0;
    display: table;
    position: relative;
}
.send{
  float: left;
  width: 650px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
  padding: 80px 40px 40px 40px;
}
.send1{
  width: 100%;
    float: left;
    max-width: 380px;
    position: relative;
    padding-right: 30px;
}
.send1 h3{
  font-size: 30px;
    line-height: 36px;
    font-family: var(--montserrat);
    text-transform: uppercase;
    max-width: 200px;
    margin-bottom: 30px;
    color: var(--base_color);
}
.foram{
  position: relative;
}
.foram input{
  width: 100%;
    height: 45px;
    padding: 15px;
    border: 1px solid #c4c4c4;
    position: relative;
    margin-bottom: 10px;
    border-radius: 4px;
    font-family: var(--ubuntu);
    transition: var(--transition);
}
.foram textarea{
  resize: none;
    height: 120px;
    width: 100%;
      padding: 15px;
      border: 1px solid #c4c4c4;
      position: relative;
      margin-bottom: 10px;
      border-radius: 4px;
      font-family: var(--ubuntu);
      transition: var(--transition);
}
.sendBtn{
  width: 250px;
      height: 40px;
      line-height: 40px;
      background-color: #282122;
      text-align: center;
      border-radius: 30px;
      border: 0;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
      font-size: 15px;
      font-variant: var(--montserrat);
      box-shadow: 0 3px 15px rgb(0 0 0 / 25%);
      transition: var(--transition);
      cursor: pointer;
}
.info{
  /* background-image: linear-gradient(45deg, #f78ca0 0, #f9748f 19%, #fd868c 60%, #fe9a8b 100% ); */
  background-color: #595555;
    width: 400px;
    height: 550px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: -50px;
    -webkit-box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
    box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
    border-radius: 8px;
    padding: 50px 40px;
    color: #fff;
}
.info h3{
  color: #fff;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    font-family: var(--montserrat);
    text-transform: uppercase;
    max-width: 200px;
}
.info p{
  font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
.info li{
  float: left;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}
.info li p{
  font-size: 16px;
line-height: 22px;
margin-bottom: 0;
}
.info li a{
  display: block;
    color: #fff;
}
.sendBtn:hover{
  color: black;
  background-color: white;
}
.ctntabt{
  height: 60px;
      margin-top: 100px;
      padding-top: 70px;
      padding-bottom: 100px;
      position: relative;
      /* top: 50%; */
      transform: translateY(-50%);
      text-align: center;
      background-color: #dfdcdc;
}
.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #ff5353;
}
.accordion a:hover::after {
  border: 1px solid #ff5353;
}
.accordion a.active {
  color: #ff5353;
  border-bottom: 1px solid #ff5353;
}
.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}
.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #ff5353;
  border: 1px solid #ff5353;
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Baloo Paaji 2', cursive;
}

.card {
  background-color: #222831;
  height: 37rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
}


.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}


.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #c648c8);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}
.fpbox{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.flip-box {
  background-color: transparent;
  width: 500px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  display: flex;
  margin: 8px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-box-back {
  background-color: white;
  color: white;
  border-radius: 20px;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
