@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
background-size: cover;
background-position: left;
/*background-color: #FFD8C0; */
height: 7px;
/*font-family: 'Bree Serif', serif;*/
font-family: 'Roboto Slab', serif;
/*    font-family: 'Montserrat', sans-serif;*/
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  /*text-align: center;*/
}
:root{
    --navbar-height: 59px;
}

/*Navigation Bar*/

.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0;
    cursor: pointer;
    width: 100%;
    height: 120px;
}
.navbar hr{
    display: none;
}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: 20px 30px;
}

.nav-list li a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-list li a:hover{
    color: rgb(197, 194, 194);
}
.background{
    background: black;
    background-size: cover;
    background-blend-mode: darken;
    z-index: 2;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
.topic{
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: #ffffff;
/*  margin-top: 500px; */
  text-align: center;
/*  margin-bottom: 150px; */
  width: 100%;
  height: 550px;
  background-size: cover;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 100px;
}

.heading{
  display: block;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  position: absolute;
  font-family: 'Roboto', serif;
  width: 100%;
}
.para{
  position: absolute;
  margin-top: 250px;
  margin-left: 380px;
  color: #ffffff;
}
.top{
  color: #ffffff;
  position:absolute;
  margin-top: 350px;
  margin-left: 100px;
}
p{
  color: #ffffff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 50px;
  font-family: 'Brush Script MT', cursive;
  padding-bottom: 10px;
}
.top{
  color: #ffffff;
  font-size: 30px;
}
.right {
  width: 30%;
  float: right;
  margin-top: 5px;
  position: absolute;
  text-align: right;
  margin-left: 700px;
}
.barbera {
  margin-top: 7px;
  margin-left: 10px;
  text-align: left;
  position: absolute;
  width: 13%;
  background-color: #FFFFFF;
}

.mission{
  color: #000000;
  font-family: serif;
  text-align: right;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}
.dedication{
  margin-right: 150px;
  margin-left: 500px;
  margin-bottom: 190px;
  text-align: right;
}
.mishon{
  width: 300px;
  height: 300px;
  position: absolute;
  margin-right: 800px;
  margin-bottom: 10px;
  margin-left: 70px;
}
.mish{
  background-color: none;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin-top: 100px;
}
.app{
  position: absolute;
  margin-left: 270px;
  margin-top: 250px;
  width: 170px;
}
.clg{
  position: absolute;
  margin-left: 770px;
  margin-top: 0;
  width: 400px;
}
.book{
  color: #000000;
  font-family: serif;
  text-align: left;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 70px;
  margin-left: 100px;
}

.list{
  margin-left: 80px;
  margin-right: 500px;
  margin-bottom: 190px;
  text-align: left;
}
.team{
  color: #000000;
  font-family: serif;
  text-align: center;
  line-height: 0.5px;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.social{
  color: #ffffff;
  font-family: serif;
  font-size: 10px;
  margin-bottom: 100px;
  margin-top: 0px;
  background-size: cover;
  background-color: #000000;
  height: 100px;
}
.fbk{
  position: absolute;
  margin-left: 550px;
  margin-top: 5px;
  margin-right: 30px;
  margin-bottom: 50px;
  width: 30px;
}
.igm{
  position: absolute;
  margin-left: 600px;
  margin-top: 5px;
  margin-right: 30px;
  margin-bottom: 50px;
  width: 30px;
}
.lkn{
  position: absolute;
  margin-left: 650px;
  margin-top: 5px;
  margin-right: 30px;
  width: 30px;
  margin-bottom: 50px;
}
.soshial{
  position:relative;
  text-align: left;
  color: #ffffff;
  margin-left: 30px;
  top: 30px;
  bottom: 0px;
  font-size: 25px;
}

h1 {
  margin: 100px auto 0 auto;
  text-decoration-style: solid;
  text-align:center;

}
h2{
  text-align: center;
  margin-bottom: 0;
  color: #000000;
}
h3{
  color: #4d2600;
}

/*h2 {
  text-align: center;
}*/
h4 {
  text-align: center;
  color: #4d2600;
}


  hr {
    background-color: none;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }



  /*.circular{
    border-radius: 200%;
  } */


  .tem{
    margin-top: 50px;
  }
  /*.border{
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 130px;
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
    width: 1000px;
  }

*/
  .brk{
    border-style:solid none none;
    border-color: #000000;
    width: 50%;
    margin-top: 50px;
    border-width: medium;
  }

  /*Section: Footer*/
  #footer{
      font-family: 'Montserrat', sans-serif;
      background-color: black;
  }
  #foot{
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
      margin: 0px 200px;
  }
  #foot .box{
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 0px;
      /*border: 2px solid red;*/
  }

  #foot .box ul{
      text-decoration: none;
      display: flex;
  }
  #foot .box ul li{
      list-style: none;
      font-family: 'Montserrat', sans-serif;
      margin:10px 10px;
      color: lightgrey;
      font-size: 1.2rem;

  }
  #foot .box a{
      text-decoration: none;
      color: lightgrey;
      font-family: 'Montserrat', sans-serif;
  }
  #foot .box a:hover{
      color: white;
  }

  #footer p{
      background-color: black;
      color: white;
      width: 100%;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
  }
  #foot .box h1{
      font-size: 1.3rem;
      margin: 10px;
      list-style: none;
      font-family: 'Montserrat', sans-serif;
  }
  #foot .icon_bar{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  #foot .icon_btn{
      width: 40px;
      height: 40px;
      margin: 8px;
      border: none;
      border-radius: 10px;
  }
  #foot .icon_btn:hover{
      width: 42px;
      height: 42px;
  }
  /*Social Media Icons Images*/
  #insta{
      background: url('https://i.pinimg.com/originals/c6/2c/05/c62c055ede6aadbb1f94a555071c98b9.jpg') no-repeat center center/cover;
  }
  #facebook{
      background: url('https://i2.wp.com/socialmediaicons.biz/wp-content/uploads/2019/04/Facebook-vector-white-round-social-media-icons.jpg?fit=1080%2C1080&ssl=1') no-repeat center center/cover;
      z-index: 1;
  }
  #linkedin{
          background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPG-vDpVduE1tHuJIiR3pfx8p-QYEZQo4L-l-6W5zmVTiNoYGDV63ZpcO2yLMloGeavyk&usqp=CAU') no-repeat center center/cover;

  }
  /*#pintrest{
           background: url('https://i.pinimg.com/originals/c8/3e/66/c83e661429ac53ea8cbb597e047c35fd.png') no-repeat center center/cover;

  }
  #youtube{
       background: url('https://cutewallpaper.org/21/youtube-logo-black-background/Youtube-White-Icon-Youtube-Logo-Youtube-Icon-Youtube-PNG-.jpg') no-repeat center center/cover;

  }
  #twitter{
       background: url('https://pngimg.com/uploads/twitter/twitter_PNG2.png') no-repeat center center/cover;

  }
  /*Utility Classes*/

  .head-pri{
      font-size: 3rem;
      padding: 10px;
      text-align: center;
  }

  .btn{
      padding: 15px 15px;
      margin: 10px;
      border: 2px white;
      font-size: 1.5rem;
      background-color: white;
      border-radius: 7px;
      color: #614b4b;

  }
  .btn:hover{
      background-color: grey;
      color: white;
  }
  .head-sec{
      display: block;
      margin: auto;
      font-size: 2rem;
      padding: 10px;
  }
  .kartik{
    display: double none none;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    width: 100%;
  }

  #foot h1{
    font-size: 1.3rem;
    margin: 10px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 100%;
    text-align: left;
  }
  .box ul{
    margin-left: 0px;
    padding-left: 0;
    margin: 0 0 0 0;
  }
  .follow{
    font-size: 1.3rem;
    padding-bottom: 0px;
    margin-bottom: 0;
  }
  .fut{
    font-size: 18px;
    padding: 0;
  }
  .box{
    margin: 0;
  }
  @media only screen and (max-width:1100px){
      /*Section : Home*/
      #home{
          height: 500px;
      }

      /*Section: Footer*/
      #foot{
          display: flex;
          flex-direction: column;
          margin: 5px 25px;
      }
      #foot .box{
          flex-direction: column;
          margin: 10px;
          font-size: 1.3rem;
      }
      #foot .box ul{
          display: flex;
          flex-direction: row;
      }
      #foot .box li{
          margin: 5px;
          padding: 1px;
      }
      #foot .box h1{
          display: block;
          width: 100%;
      }
      /*feedback*/
      #feedback .box{
          width: 60%;
      }
      #feedback .submit_btn{
      font-size: 1.3rem;
      border-radius: 5px;
      background-color: white;
      color: grey;
      width: 98.9%;
      margin-top: 10px;
      }
      #foot .formde{
          font-size: 1.3rem;
      }
      /*section: Offers*/
      /*#offers{
          height: 600px;
      }*/
      #offer h1{
          font-size: 2.5rem;
      }

      #offer .box1{
          width: 285px;
      }
      #offer .box2{
          width: 285px;
      }
      #offer  .upper{
          margin: 5px;
      }
      /*section: Download The App*/
      #app::before{
          height: 550px;
      }
      #app .box_move{
          justify-content: center;
          align-content: center;
      }
      /*section: SERVICES*/
      #ser{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          margin: 5px 30px;
      }
      #services{
          height: 1650px;
      }
      /*#ser .icon{
          display: flex;
          flex-direction: column;
          justify-content: center;
      }*/
      #ser .box{
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 10px 90px;
      }
      #ser .icon_btn{
          width: 160px;
          height: 160px;
          margin: 5px;
      }
      #ser .icon_text{
          width: 180px;
          height: 180px;
          margin: 10px;
      }
      #ser .icon_text p{
          font-size: 1.2rem;
      }
      /*Navigation*/
      .nav-list{
          flex-direction: column;
      }
      .navbar{
          height: 465px;
          flex-direction: column;
           border: 1px solid white;
          transition: all 0.7s ease-out;
      }

      .burger{
      display: block;
      }
      .h-nav-resp{
          height: 72px;
      }
      .v-class-resp{
          opacity: 0;
      }
      .section{
          flex-direction: column-reverse;
      }
      .nav-list li a{
          font-size: 1.5rem;
      }
      .navbar hr{
          display: block;
          width: 70%;
      }
  }
  }
/* #heading {
  color: blue;
} */
