<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Livvic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
/*CSS Reset*/
*{
    /*box-sizing: border-box;*/
    margin: 0px;
    padding: 0px;
    /*font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Andada', serif;
    font-family: 'Inder', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Lobster Two', cursive;*/

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #a3a3a347;
}

/*Top*/
#top{
    display: flex;
    position: absolute;
    top: 190px;
    align-items: center;
    justify-content: center;
    width:100%;
}
#top .medbtn{
    display: block;
    margin: auto 50px;
    padding: 10px;
    color: white;
    font-size: 1.9rem;
    width: 250px;
    height:100px;
    border-radius: 10px;
    border: 1px white;
    box-shadow: 2px 2px 2px 2px #8080801a;
}
#top .medbtn:hover{
    box-shadow: 3px 3px 3px 3px #8080801a;
    font-size: 2rem;
    border: 1px white;
}
#top a{
    text-decoration: none;
    color: wheat;
}
/*Services*/
#services{
    /*    border: 2px solid brown;*/
        background-color: #e6e6e6;
        margin-top: 50px;
    }
    #ser{
      /*  border: 2px solid cyan;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 10px 30px;
        /*background-color: grey;*/
    }
    #services h1{
        margin-top: 0px;
        color: #2c0e0e;
        font-family: 'Montserrat', sans-serif;
    }
    #ser .box{
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 10px;
    }
    /*#ser .icon_bar{
        display: flex;
        flex-direction: row;
    }*/
    #ser .icon_btn{
        width: 70%;
        height: 230px;
        margin: 4px;
        /*box-shadow: 0.1px 0.1px 0.1px 0.1px grey;*/
        border: none;
        border-radius: 15px;
        margin-top: 8px;
        margin-left: 100px;
    
    }
    #ser .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-right: 50px;
        width: 30%;
        /*margin: 40px;*/
    }
    #ser .main p{
        display: flex;
        justify-content: center;
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Bree Serif', serif;
        font-family: 'Roboto Slab', serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Livvic', sans-serif;
        font-family: 'Andada', serif;
        font-family: 'Inder', sans-serif;
    }
    
    /*
    #ser .box img{
        display: block;
        margin: auto;
        margin-right: 150px;
        margin-left: 150px;
        width: 300px;
        height: 300px;
    }
    */
    #ser .icon{
        display: grid;
        grid-template-columns: repeat(1, auto);
        margin: auto;
        width: 100%;
    
    }
    #ser .medbtn{
        display: block;
        margin: auto;
        padding: 10px;
        color: black;
        font-size: 2rem;
        width: 250px;
        height: 250px;
        border-radius: 10px;
        border: 1px white;
        box-shadow: 2px 2px 2px 2px #8080801a;
        font-weight: bolder;
    }
    
    #ser .services_desc{
        margin-left: 50px;
    }
    /*#ser #wed_head{
       width: 100%;
    }
    @media only screen and (max-width: 1200px)
    {
        #ser .container br{
            display: block;
        }
    }*/
   
    /*Big Icon Photos*/
    #btn_male{
        background : url('services_img/12.jpg') no-repeat center center/cover;
    }
    #btn_female{
        background : url('services_img/14.jpg') no-repeat center center/cover;
    }
    #btn_wedding{
        background: url('https://i0.wp.com/detechter.com/wp-content/uploads/2017/07/Hindu-Wedding-India.jpg?fit=886%2C535&ssl=1') no-repeat center center/cover;
    
    }
   
    #ser .icon_text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 30px;
        width: 90%;
    }
    #ser .book_text{
       display: flex;
       flex-direction: column;
       margin-left: 10px;
       width: 50%;
       margin-left: 30px;
    }
    #ser .book_btn{
        height: 30px;
        width: 170px;
        margin: 3px 0;
        color: white;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
    }
   
    #ser .book_now_btn{
        background-color: rgb(238, 29, 29);
    }
    #ser .book_now_btn:hover{
        background-color: rgb(168, 12, 12);
    }
    #ser .cart_btn{
        background-color: rgb(19, 170, 19);
    }
    #ser .cart_btn:hover{
        background-color: green;
    }
    #ser .icon_text p{
        display: block;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Bree Serif', serif;
        font-family: 'Roboto Slab', serif;
        font-family: 'Inder', sans-serif;
    
    }
    #ser .book_text p{
        font-size: 1rem;
        margin: 5px 0px;
   }
   #ser .head-pri{
       font-size: 2.5rem;
       font-family: 'Livvic', sans-serif;
       margin: 10px 0px;
   }
   
   #ser .var_btn{
    width: 10rem;
    height: 2rem;
    margin: 5px 5px;
    font-size: 1rem;
    background-color: rgb(43, 140, 179);
    color: white;
    border-radius: 5px;
    border:none;
}
#ser .var_btn:hover{
    background-color: rgb(16, 123, 165);
}
#ser .variety_btn{
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    margin-bottom: 10px;
}
#ser .variety{
    display: flex;
    flex-direction: column;
}
    /*Small Icon Photos*/
    /*Mens*/
    #m_1{
        background: url('services_img/6.jpg') no-repeat center center/cover;
    }
    #m_2{
        background: url('https://previews.123rf.com/images/kahovsky/kahovsky1803/kahovsky180300012/96989793-young-man-shaving-face-with-foam-vector-flat-cartoon-character-illustration-icon-design-isolated-on-.jpg') no-repeat center center/cover;
    }
    #m_3{
        background: url('https://cdn1.iconfinder.com/data/icons/barber-services-in-line-style/32/man-hair-dyeing-512.png') no-repeat center center/cover;
    }
    #m_4{
        background: url('services_img/16.jpg') no-repeat center center/cover;
    }
    #m_5{
        background: url('services_img/9.jfif') no-repeat center center/cover;
    }
    #m_6{
        background: url('services_img/7.jpg') no-repeat center center/cover;
    }
    /*Female*/
    #fm_1{
        background: url('services_img/8.jfif') no-repeat center center/cover;
    }
    #fm_2{
        background: url('services_img/17.jpg') no-repeat center center/cover;
    }
    #fm_3{
        background: url('https://www.crushpixel.com/big-static17/preview4/hair-colouring-rgb-color-icon-2547377.jpg') no-repeat center center/cover;
    }
    #fm_4{
        background: url('services_img/11.jpg') no-repeat center center/cover;
    }
    #fm_5{
        background: url('services_img/13.png') no-repeat center center/cover;
    }
    #fm_6{
        background: url('services_img/15.jfif') no-repeat center center/cover;
    }
    #fm_7{
        background: url('services_img/1.jpg') no-repeat center center/cover;
    }
    #fm_8{
        background: url('services_img/10.jpg') no-repeat center center/cover;
    }
    /*WEDDING*/
    #wed_1{
        background: url('services_img/3.jpg') no-repeat center center/cover;
        background-size: contain;
        background-color: #dcb9bf;
    }
    #wed_2{
        background: url('services_img/18.jpg') no-repeat center center/cover;
        background-size: contain;
    }
    #wed_3{
        background: url('services_img/2.jpg') no-repeat center center/cover;
    }
    #wed_4{
        background: url('services_img/13.png') no-repeat center center/cover;
    }


.hr_line{
   background-color: white;
    opacity: 1;
    margin: 0px;
}    


  .svg-wrapper {
    height: 60px;
    padding-top: 35px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-color: white;
    padding-bottom: 25px;
    margin-top: 120px;
  }

  .shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: black;
  }
  
  .texth {
    color: black;
    font-family: 'Roboto Condensed';
    font-size: 1.7rem;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
  }
  
  @keyframes draw {
    0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 8px;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 2px;
    }
  }
  
  .svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }
  
hr{
    color: white;
    opacity: 1;
    margin: 0px;
}
@media only screen and (max-width:1200px)
{
    .svg-wrapper{
        margin-top: 150px;
    }
    #top{
        top: 220px;
        
    }
}
  @media only screen and (max-width:1100px){
   
   
    /*slide_show*/
    #slide_show{
        margin-top: 50px;
    }
    /*tips and tricks*/
    /*#offer{
        display: grid;
        grid-template-columns: repeat(1, 500px);
        grid-gap: 50px;
        margin: 20px;
        justify-content: center;
        align-content: center;
    }
    #offers{
        height: 1700px;
    }*/
    /*Services*/
    #services{
        margin-top: 280px;
    }
    #ser .icon{
        grid-template-columns: repeat(1, auto);
        width: 100%;
    }
    #ser .icon_btn{
        grid-area: a;
        width: 300px;
        height: 300px;
        margin-left: 10px;
    }
    #ser .book_text{
        grid-area: b;
        width: 80%;
        margin-left: 100px;
    }
    #ser .services_desc{
        grid-area: c;
        margin-left: 150px;
        font-size: 1.5rem;
    }
    
    #ser .book_btn{
        height: 4rem;
        width: 20rem;
        font-size: 2rem;
        font-family: 'Inder', sans-serif;
        
    }
    #ser .book_text p{
        font-size: 3rem;
    }
    #ser .variety{
        grid-area: v;
    }
    #ser .icon_text{
        display: grid;
        grid-template-areas: "a b"
                             "v v";
        grid-template-columns: 30% 60%;
    }
    #ser .services_desc{
        width: 70%;
        margin-top: 20px;
        font-size: 2rem;
        margin-left: 50px;
    } 
    #ser .variety_btn button{
        width: 14rem;
        height: 3rem;
        margin: 10px 0px;
        font-size: 1.7rem;
    }
    #ser .variety_btn{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-top: 20px;
    }
    #ser .variety{
        display: flex;
        flex-direction: row;
    }
    #ser .head-pri{
        font-size: 3.5rem;
        font-weight: bold;
    }
    /*Top*/
    #top .medbtn{
        margin: 10px 30px;
    width: 700px;
    height: 90px;
    background-color: #535151;
    background-image: none;
    }
    #top{
        flex-direction: column;
    }
}
=======
@import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Livvic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
/*CSS Reset*/
*{
    /*box-sizing: border-box;*/
    margin: 0px;
    padding: 0px;
    /*font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Andada', serif;
    font-family: 'Inder', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Lobster Two', cursive;*/

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #a3a3a347;
}

/*Top*/
#top{
    display: flex;
    position: absolute;
    top: 190px;
    align-items: center;
    justify-content: center;
    width:100%;
}
#top .medbtn{
    display: block;
    margin: auto 50px;
    padding: 10px;
    color: white;
    font-size: 1.9rem;
    width: 250px;
    height:100px;
    border-radius: 10px;
    border: 1px white;
    box-shadow: 2px 2px 2px 2px #8080801a;
}
#top .medbtn:hover{
    box-shadow: 3px 3px 3px 3px #8080801a;
    font-size: 2rem;
    border: 1px white;
}
#top a{
    text-decoration: none;
    color: wheat;
}
/*Services*/
#services{
    /*    border: 2px solid brown;*/
        background-color: #e6e6e6;
        margin-top: 50px;
    }
    #ser{
      /*  border: 2px solid cyan;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 10px 30px;
        /*background-color: grey;*/
    }
    #services h1{
        margin-top: 0px;
        color: #2c0e0e;
        font-family: 'Montserrat', sans-serif;
    }
    #ser .box{
        /*border: 2px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 10px;
    }
    /*#ser .icon_bar{
        display: flex;
        flex-direction: row;
    }*/
    #ser .icon_btn{
        width: 70%;
        height: 230px;
        margin: 4px;
        /*box-shadow: 0.1px 0.1px 0.1px 0.1px grey;*/
        border: none;
        border-radius: 15px;
        margin-top: 8px;
        margin-left: 100px;
    
    }
    #ser .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-right: 50px;
        width: 30%;
        /*margin: 40px;*/
    }
    #ser .main p{
        display: flex;
        justify-content: center;
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Bree Serif', serif;
        font-family: 'Roboto Slab', serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Livvic', sans-serif;
        font-family: 'Andada', serif;
        font-family: 'Inder', sans-serif;
    }
    
    /*
    #ser .box img{
        display: block;
        margin: auto;
        margin-right: 150px;
        margin-left: 150px;
        width: 300px;
        height: 300px;
    }
    */
    #ser .icon{
        display: grid;
        grid-template-columns: repeat(1, auto);
        margin: auto;
        width: 100%;
    
    }
    #ser .medbtn{
        display: block;
        margin: auto;
        padding: 10px;
        color: black;
        font-size: 2rem;
        width: 250px;
        height: 250px;
        border-radius: 10px;
        border: 1px white;
        box-shadow: 2px 2px 2px 2px #8080801a;
        font-weight: bolder;
    }
    
    #ser .services_desc{
        margin-left: 50px;
    }
    /*#ser #wed_head{
       width: 100%;
    }
    @media only screen and (max-width: 1200px)
    {
        #ser .container br{
            display: block;
        }
    }*/
   
    /*Big Icon Photos*/
    #btn_male{
        background : url('services_img/12.jpg') no-repeat center center/cover;
    }
    #btn_female{
        background : url('services_img/14.jpg') no-repeat center center/cover;
    }
    #btn_wedding{
        background: url('https://i0.wp.com/detechter.com/wp-content/uploads/2017/07/Hindu-Wedding-India.jpg?fit=886%2C535&ssl=1') no-repeat center center/cover;
    
    }
   
    #ser .icon_text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 30px;
        width: 90%;
    }
    #ser .book_text{
       display: flex;
       flex-direction: column;
       margin-left: 10px;
       width: 50%;
       margin-left: 30px;
    }
    #ser .book_btn{
        height: 30px;
        width: 170px;
        margin: 3px 0;
        color: white;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
    }
   
    #ser .book_now_btn{
        background-color: rgb(238, 29, 29);
    }
    #ser .book_now_btn:hover{
        background-color: rgb(168, 12, 12);
    }
    #ser .cart_btn{
        background-color: rgb(19, 170, 19);
    }
    #ser .cart_btn:hover{
        background-color: green;
    }
    #ser .icon_text p{
        display: block;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Bree Serif', serif;
        font-family: 'Roboto Slab', serif;
        font-family: 'Inder', sans-serif;
    
    }
    #ser .book_text p{
        font-size: 1rem;
        margin: 5px 0px;
   }
   #ser .head-pri{
       font-size: 2.5rem;
       font-family: 'Livvic', sans-serif;
       margin: 10px 0px;
   }
   
   #ser .var_btn{
    width: 10rem;
    height: 2rem;
    margin: 5px 5px;
    font-size: 1rem;
    background-color: rgb(43, 140, 179);
    color: white;
    border-radius: 5px;
    border:none;
}
#ser .var_btn:hover{
    background-color: rgb(16, 123, 165);
}
#ser .variety_btn{
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    margin-bottom: 10px;
}
#ser .variety{
    display: flex;
    flex-direction: column;
}
    /*Small Icon Photos*/
    /*Mens*/
    #m_1{
        background: url('services_img/6.jpg') no-repeat center center/cover;
    }
    #m_2{
        background: url('https://previews.123rf.com/images/kahovsky/kahovsky1803/kahovsky180300012/96989793-young-man-shaving-face-with-foam-vector-flat-cartoon-character-illustration-icon-design-isolated-on-.jpg') no-repeat center center/cover;
    }
    #m_3{
        background: url('https://cdn1.iconfinder.com/data/icons/barber-services-in-line-style/32/man-hair-dyeing-512.png') no-repeat center center/cover;
    }
    #m_4{
        background: url('services_img/16.jpg') no-repeat center center/cover;
    }
    #m_5{
        background: url('services_img/9.jfif') no-repeat center center/cover;
    }
    #m_6{
        background: url('services_img/7.jpg') no-repeat center center/cover;
    }
    /*Female*/
    #fm_1{
        background: url('services_img/8.jfif') no-repeat center center/cover;
    }
    #fm_2{
        background: url('services_img/17.jpg') no-repeat center center/cover;
    }
    #fm_3{
        background: url('https://www.crushpixel.com/big-static17/preview4/hair-colouring-rgb-color-icon-2547377.jpg') no-repeat center center/cover;
    }
    #fm_4{
        background: url('services_img/11.jpg') no-repeat center center/cover;
    }
    #fm_5{
        background: url('services_img/13.png') no-repeat center center/cover;
    }
    #fm_6{
        background: url('services_img/15.jfif') no-repeat center center/cover;
    }
    #fm_7{
        background: url('services_img/1.jpg') no-repeat center center/cover;
    }
    #fm_8{
        background: url('services_img/10.jpg') no-repeat center center/cover;
    }
    /*WEDDING*/
    #wed_1{
        background: url('services_img/3.jpg') no-repeat center center/cover;
        background-size: contain;
        background-color: #dcb9bf;
    }
    #wed_2{
        background: url('services_img/18.jpg') no-repeat center center/cover;
        background-size: contain;
    }
    #wed_3{
        background: url('services_img/2.jpg') no-repeat center center/cover;
    }
    #wed_4{
        background: url('services_img/13.png') no-repeat center center/cover;
    }


.hr_line{
   background-color: white;
    opacity: 1;
    margin: 0px;
}    


  .svg-wrapper {
    height: 60px;
    padding-top: 35px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-color: white;
    padding-bottom: 25px;
    margin-top: 120px;
  }

  .shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: black;
  }
  
  .texth {
    color: black;
    font-family: 'Roboto Condensed';
    font-size: 1.7rem;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
  }
  
  @keyframes draw {
    0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 8px;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 2px;
    }
  }
  
  .svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }
  
hr{
    color: white;
    opacity: 1;
    margin: 0px;
}
@media only screen and (max-width:1200px)
{
    .svg-wrapper{
        margin-top: 150px;
    }
    #top{
        top: 220px;
        
    }
}
  @media only screen and (max-width:1100px){
   
   
    /*slide_show*/
    #slide_show{
        margin-top: 50px;
    }
    /*tips and tricks*/
    /*#offer{
        display: grid;
        grid-template-columns: repeat(1, 500px);
        grid-gap: 50px;
        margin: 20px;
        justify-content: center;
        align-content: center;
    }
    #offers{
        height: 1700px;
    }*/
    /*Services*/
    #services{
        margin-top: 280px;
    }
    #ser .icon{
        grid-template-columns: repeat(1, auto);
        width: 100%;
    }
    #ser .icon_btn{
        grid-area: a;
        width: 300px;
        height: 300px;
        margin-left: 10px;
    }
    #ser .book_text{
        grid-area: b;
        width: 80%;
        margin-left: 100px;
    }
    #ser .services_desc{
        grid-area: c;
        margin-left: 150px;
        font-size: 1.5rem;
    }
    
    #ser .book_btn{
        height: 4rem;
        width: 20rem;
        font-size: 2rem;
        font-family: 'Inder', sans-serif;
        
    }
    #ser .book_text p{
        font-size: 3rem;
    }
    #ser .variety{
        grid-area: v;
    }
    #ser .icon_text{
        display: grid;
        grid-template-areas: "a b"
                             "v v";
        grid-template-columns: 30% 60%;
    }
    #ser .services_desc{
        width: 70%;
        margin-top: 20px;
        font-size: 2rem;
        margin-left: 50px;
    } 
    #ser .variety_btn button{
        width: 14rem;
        height: 3rem;
        margin: 10px 0px;
        font-size: 1.7rem;
    }
    #ser .variety_btn{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-top: 20px;
    }
    #ser .variety{
        display: flex;
        flex-direction: row;
    }
    #ser .head-pri{
        font-size: 3.5rem;
        font-weight: bold;
    }
    /*Top*/
    #top .medbtn{
        margin: 10px 30px;
    width: 700px;
    height: 90px;
    background-color: #535151;
    background-image: none;
    }
    #top{
        flex-direction: column;
    }
}
>>>>>>> 56da5209b6bfd6dcc1704bbe4e5d96407b863956
