    @import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Andada&family=Livvic:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&family=Lobster+Two&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
         /*CSS Reset*/
*{
    /*box-sizing: border-box;*/
    margin: 0px;
    padding: 0px;
    /*font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Andada', serif;
    font-family: 'Inder', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Lobster Two', cursive;*/

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #a3a3a347;
}



/*Padmaja Code for animation*/

#home img{
    height: 800px;
    filter: brightness(50%);
}
#home p{
    font-size: 2rem;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inder', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Inder', sans-serif; */
    font-family: 'Andada', serif;
}
#home .name_company{
    font-size: 7rem;
    align-items: left;
    font-family: 'Livvic', sans-serif;
    margin-bottom: -40px;
    font-weight: bolder;
}
#home .carousel-caption{
    margin-bottom: 10%;
    text-align: left;
}
#home .btn{
    padding: 15px 15px;
    border: 2px black;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 5px;
    color: #614b4b;
    opacity: 70%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inder', sans-serif;

}
#home .btn:hover{
    background-color: grey;
    color: white;
}

#home .tagline{
     font-size: 2rem;
     font-family: 'Livvic', sans-serif;
     margin-bottom: 130px;
}
/*Section Offers*/

#offers{
    display: flex;
    flex-direction: column;
    height: 750px;
    background-color: #EFEFEF;
   /* border: 1px solid blue;*/
}
.heading_box{
    display: block;
    margin: 5px auto;
    width: 75%;
    padding-top: 0px;
}
#offers h1{
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #2B2B2B;
    font-weight: bolder;
}
#offers .active{
    opacity: 100;
}
/*animation :Button Offers*/
.offer .box{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    background-color: none;
    /*border: 10px solid green;*/
}
.offer .btn_offers{
    display: block;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
    margin: auto;
 /* border-radius: 10px;*/
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #bebcbc;
    width: 350px;
    height: 100px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inder', sans-serif;
    border:none;


    /*border: 2px solid black;*/
}

.offer .box1{
    /*border: 2px solid black;*/
    display: block;
    margin: auto;
    height: 450px;
    width: 350px;
    border-radius: 15px;
    background-color: #DDDDDD;
    -webkit-transition: background-color .5s; /* For Safari 3.0 to 6.0 */
        transition: background-color .5s;
}
.offer .box2{
  display: block;
  margin: auto;
  overflow: hidden;
  width: 350px;
  height: 0px;
  transition: .5s ease;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border:none;
  /*border: 1px solid red;*/
}
.offer h1 a{
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.offer .head-sec{
    padding-top: 35px;
}
.offer .box img{
    height: 100px;
    display: block;
    margin: auto;
    padding: 20px;
}
.offer p{
    text-align: center;
    padding: 5px;
    font-size: 2rem;
    color: #614b4b;
    font-family: 'Andada', serif;
    font-family: 'Livvic', sans-serif;
    font-weight: bolder;
    display: block;
    margin: auto;
    width: 300px;

}

.offer .box:hover .box2{
  height: 100px;
  border-radius:10px;
  border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.offer .box:hover .box1{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: rgb(238, 238, 27);
    

}
#offers .box1 .head-sec{
    margin-top: 10px;
    font-weight: bolder;
}
#offers .gtco-testimonials .card{
    margin: 0px;
    padding: 0px;
}

/*Section: Why Choose Us*/

#choose::before{
    content: "";
    position: absolute;
    background: url('https://t3.ftcdn.net/jpg/01/20/42/90/360_F_120429082_EQ7vYrZyR8NBMRuJl5P4AlEEuFlQs2Tw.jpg') no-repeat center center/cover;
    z-index: -3;
    opacity: 100%;
    height: 730px;
    width: 100%;
    filter: brightness(50%);
    opacity: 95%;
}

#chooseus{
    display: flex;
    /*border: 1px solid red;*/
    margin: 20px;
    align-content: center;
    justify-content: center;
}
#chooseus .box{
    text-align: center;
    margin: 40px;
    padding: 5px;
    height: 300px;
    border: 1px solid white;
    background-color: none;
    border-radius: 10px;
    width: 300px;
}

#chooseus .box img{
    display: block;
    margin: auto;
    width: 170px;
    height: 100px;
    padding: 20px;
    /*border: 1px solid green;*/
}
#choose #bag_img{
    height: 100px;
    width: 110px;
    /*border: 1px solid red;*/
}
#chooseus p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    color: wheat;
    font-family: 'Livvic', sans-serif;

}
#chooseus h1{
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #E8F0F2;
   padding-top: 30px;
   font-weight: bolder;
   padding-bottom: 20px;
}
#chooseus h1 hr{
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;

}
#choose .head-pri{
    
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Andada', serif;
    font-family: 'Inder', sans-serif;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #E8F0F2;
}
#choose .bigbtn{
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width : 60%;
    font-size: 1.1rem;
    background-color: white;
    border: 1px solid black;
}
/*Section: Satisfied Costumer reviews*/
/*
#cost-rev::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    z-index: -1;
    opacity: 90%;
}
*/
#cost-rev{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 169px;
    flex-direction: column;
    /*border: 1px solid violet;*/
}
@media only screen and (max-width:1181px)
{
    #cost-rev{
        height: 135px;
    }
}
#cost-rev .bigbtn{
    display: block;
    margin: auto;
    background: none;
    border: 2.5px solid white;
    color: white;
    width: 70%;
    font-size: 2rem;
    text-shadow: 2px 2px grey;
}
#cost-rev .bigbtn:hover{
    box-shadow: 1px 1px 1px 1px grey;
    background-color: #ffffff6b;
}

/*Numbers*/
#number{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    font-size: 2rem;
}
#number .num{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#number p{
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: wheat;
}
#costumer_num{
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: auto;
    color: white;
}


/*TESTIMONIALS*/
/*testimonial-head*/
:root {
      --dark-green: #9cc675;
      --dark-yellow: #e89a3d;
      --extra-light-brown:#fdf0d7;
      --light-brown: #ecd5ab;
      --dark-brown:#915b40;
      --light-yellow:#f8e3a8;
      --light-red:#f3ac99;
      --light-teal:#a6c8cc;
      --light-gray:#ddd5d6;
      --theme-color2: #e89a3d;
    }
#customer-reviews{
    background-color: #ececec;
    height: 600px;
}
#testimonial-head{
    width: 70%;
    display: block;
    margin: auto;
    color: #2c0e0e;
    margin-top: 30px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    padding-top: 50px;
}
#test_hr{
    background-color: white;
    width: 70%;
    display: block;
    margin: auto;
}


.gtco-testimonials {
    position: relative;
    margin-top: 30px;
  }
  .gtco-testimonials h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
  }
  .gtco-testimonials .owl-stage-outer {
    padding: 30px 0;
  }
  .gtco-testimonials .owl-nav {
    display: none;
  }
  .gtco-testimonials .owl-dots {
    text-align: center;
  }
  .gtco-testimonials .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid #686868;
    margin: 0 5px;
  }
  .gtco-testimonials .owl-dots .active {
    box-shadow: none;
  }
  .gtco-testimonials .owl-dots .active span {
    background: #01b0f8;
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
  }
  .gtco-testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #dfd7d7;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
  }
  .gtco-testimonials .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
  }
 #customer-reviews .gtco-testimonials .card h5 {
    color: #612929;
    font-size: 21px;
    line-height: 1.3;
    font-weight: bold;
  }
  .gtco-testimonials .card h5 span {
    font-size: 18px;
    color: #666666;
  }
  .gtco-testimonials .card p {
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;
  }
  .gtco-testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
  }
  .gtco-testimonials .center {
    opacity: 1;
  }
  .gtco-testimonials .center h5 {
    font-size: 24px;
  }
  .gtco-testimonials .center h5 span {
    font-size: 20px;
  }
  .gtco-testimonials .center .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
  }
  
  @media (max-width: 767px) {
    .gtco-testimonials {
      margin-top: 20px;
    }
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    outline: 0;
  }
  .owl-carousel button.owl-dot {
    outline: 0;
  }
/* Section: App*/
#app{
    display: flex;
    flex-direction: row-reverse;
    height: 600px;
    /*border: 1px solid red;*/
}
/*@media only screen and (max-width:1100px)
{
    #app{
        height: 600px;
    }
}*/
#app::before{
    content: "";
    position: absolute;
    /*background: url('https://thumbs.dreamstime.com/b/hairdresser-tools-black-background-copy-space-center-123969265.jpg') no-repeat center center/cover ;*/
    background-color: #EEEEEE;
    width: 100%;
    height: 900px;
    opacity: 90%;
    z-index: -1;
}
#app .box{
   /*border: 1px solid blue;*/
   color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
   justify-content: center;
    align-content: center;
    width: 100%;
}
#app .photo_btn{
    display: block;
    width: 180px;
    margin: auto;
    height: 60px;
    background-color: black;
    border-radius: 5px;
}
#app .photo_btn:hover{
    border: 2px solid black;
    opacity: 90%;
}
#google_store{
    background: url('https://www.pxpng.com/public/uploads/small/11602614144t9qls8iimbyj15j6ftg06h2geuzh2v8tznfoubfyexjmpreds71hmfzjinqkmewm2f3hxwpaiiibmgmjqpldis7ex9edqxfpjmwz.png') no-repeat center center/cover;


}
#apple_store{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Available_on_the_App_Store_%28black%29.png/640px-Available_on_the_App_Store_%28black%29.png') no-repeat center center/cover;
}
#app span{
    font-family: 'Montserrat', serif;
}
#app h2{
    color: #393E46;
    font-family: 'Montserrat', serif;
    text-align: center;
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Inder', sans-serif;
    font-family: 'Andada', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Bree Serif', serif;
}
/*Phone animation*/
#phone_app{
    width: 50%;
}
#phone_app img{
    height: 450px;
    width: 200px;
     }


#phone_app .outer{
    position: absolute;
    left: 10px;
    height: 550px;
    width: 300px;
    margin: 30px;
    margin-left: 100px;

}
#phone_app::before{
    background-color: black;
}
#app .video{
    position: relative;
    top: 89px;
    left: 126px;
    background-color: black;
    width: 265px;
    height: 440px;
    display: flex;
    /* display: block; */
    justify-content: center;
    align-items: center;
}
.video video{
    height: 440px;
}
/*Moving Store*/
#app .box_move{
    display: flex;
    flex-direction: row;
    width: 500px;
    /*border: 2px solid grey;*/
}

.box_move img{
    width: 250px;
    height: 500px;
    margin: 25px 5px;
    left: -500%;
    /*border: 2px solid cyan;*/
}
#move_1{
    position: relative;
    animation-name: move_1;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes move_1{
    0%   {left:-100%; top:0px;}
    100% {left: 0px; top:0px;}
}

#move_2{
    position: relative;
    left: -1000px;
    animation-name: move_1;
    animation-duration: 4s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}
@keyframes move_2{
    0%   {left:-200%; top:0px;}
    100% {left: 0px; top:0px;}
}



/*Utility Classes*/

.head-pri{
    font-size: 3rem;
    padding: 10px;
    text-align: center;
}


.head-sec{
    display: block;
    margin: auto;
    font-size: 2rem;
    padding: 10px;
}


hr{
    color: white;
    opacity: 1;
    margin: 0px;
}
@media only screen and (max-width:1100px){

    /*Section : Home*/
    #home{
        height: 800px;
    }
    #home .carousel-caption{
        margin-bottom: 15%;
    }
   
    /*section: Offers*/

    .offer h1{
        font-size: 2.5rem;
    }

    .offer .box1{
        height: 450px;
    }
    .offer  .upper{
        margin: 5px;
        height: 450px;
    }
    .offer .box{
        height: 450px;
    }
    /*testimonials*/
    #testimonial-head{
        font-size: 3rem;
    }
    #customer-reviews{
        height: 850px;
    }
    #customer-reviews .gtco-testimonials .card{
        height: 600px;
        width: 470px;
    }
    #customer-reviews .gtco-testimonials .card h5{
        font-size: 2.2rem;
        margin-top: 20px;
    }
    #customer-reviews .gtco-testimonials .card p{
        font-size: 2rem;
        margin-top: 20px;
    }
    /* Gallery */
    #gallery_head{
        font-size: 3rem;
    }
    /*section: Download The App*/
    #app::before{
        height: 600px;
    }
    #app{
        flex-direction: column;
        height: 1100px;
    }
    #app .photo_btn{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    /*Phone animation*/
   
    #phone_app{
    margin-left: 19%;
    }
    #phone_app .outer{
        position: absolute;
        left: 20%;
        height: 700px;
        width: 400px;
    }
   
    #app::before{
        height: 1300px;
    }
    #app .video {
    position: relative;
    top: 97px;
    left: 132px;
    background-color: black;
    width: 350px;
    height: 570px;
    display: flex;
    /* display: block; */
    justify-content: center;
    align-items: center;
}
#app .video video{
    height: 570px;
}
   
    /*Numbers*/
    #number{
        margin: 15px;
    }
    
}
/*Numbers*/
.elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
    width: 100%;
}
.elementor-64 .elementor-element.elementor-element-5236c5ba>.elementor-widget-container{
    background-color: transparent;
}
.elementor-64 .elementor-element.elementor-element-70d4bfb:not(.elementor-motion-effects-element-type-background), .elementor-64 .elementor-element.elementor-element-70d4bfb>.elementor-motion-effects-container>.elementor-motion-effects-layer{
    background-color: transparent;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: gainsboro;
    /* Numbers */
    font-family: 'Montserrat', sans-serif;
}
.elementor-counter .elementor-counter-title {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    color: white;
    line-height: 2.5;
}
.elementor hr{
    margin: 1px;
    background-color: white;
}
.elementor-64 .elementor-element.elementor-element-5236c5ba .elementor-counter-title{
   /* text */
    font-family: 'Livvic', sans-serif;
}
#test_hr{
    margin: auto;
    height: 2px;
}
/* Downloads */
#download .elementor-row{
    background-color: rgb(59, 57, 57);
    width: 100%;
}
/*Gallery*/
.marq{
    display: inline !important;
    width: 300px;
    height:300px;
  }
  .marq img{
      height: 300px;
      width: 300px;
  }
#gallery_head{
    padding-top: 30px;
    font-size: 2rem;
    padding-bottom: 10px;
    color: #2c0e0e;
}
#gal_hr{
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 0px;
    background-color: white;
    height: 3px;
}
.elementor img{
    height: 300px;
}
/*Mobile view for Why barbera*/
@media only screen and (max-width:1000px) {
    /* Offers */
    #offers {
        height: 850px;
    }
    #offers .head-pri{
        font-size: 3rem;
    }
    .offer .box{
        width: 400px;
        height: 500px;
    }
    .offer .box1{
        width: 400px;
        height: 500px;
    }
    .offer .btn_offers{
        width: 400px;
    }
    .offer .box2{
        width: 400px;
    }

    #offers .box1 .head-sec{
        font-size: 3rem;
    }
    #offers .gtco-testimonials .card p{
        font-size: 2rem;
    }
    /*Why Barbera*/
    #chooseus{
          flex-direction: column;
          justify-content: center;
          align-items: center;
    }
    #choose::before{
        height: 1400px;
    }
    #chooseus .box h1{
        font-size: 2.5rem;
    }
    #chooseus .box p{
        font-size: 2rem;
    }
    #chooseus .box{
        width: 80%;
    }
    #chooseus .box{
        width: 70%;
        height: 100%;
    }
    /* Gallery */
    #gallery_head{
        font-size: 3rem;
        margin-top: 20px;
    }
    #abt .head-pri{
        padding-top: 40px;
    }
    .elementor img{
        height: 500px;
    }
    .marq{
        width: 500px;
    }
}
