@import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Livvic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
/*CSS Reset*/
*{
    /*box-sizing: border-box;*/
    margin: 0px;
    padding: 0px;
    /*font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Andada', serif;
    font-family: 'Inder', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Lobster Two', cursive;*/

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #a3a3a347;
}
/*Navigation Bar*/

.logo{
    width: 50px;
    z-index: 100;
    height: 50px;
    /* border: 1px solid red; */
    position: fixed;
    top: 8px;
    left: 10px;
    border-radius: 50px;
    margin-left: 5%;
}
.logo img{
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
    position: fixed;
    top:2px;
    left:15px;
    z-index: 20;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    cursor: pointer;
    height: 70px;
    width: 100%;
}
.navbar hr{
    display: none;
}
.nav-list{
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 8.3%;
    padding-left: 1.3rem;
}

.nav-list li{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}


.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;
}

.nav-list li a:hover{
    color: rgb(197, 194, 194);
}
.background{
    background: black;
    background-size: cover;
    background-blend-mode: darken;
    z-index: 50;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 55px;
    top:25px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

.nav_icon img{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.nav_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2% 1.5%;

}
#sign{
    display: none;
}
#login{
    position: fixed;
    top: 20px;
    right: 30px;
    margin: 0px;
    margin-right: 5%;
}
#login a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;

}

#login a:hover{
    color: rgb(197, 194, 194);
}
.nav_icon p{
    color: white;
}
.current{
    text-decoration: underline;
    text-underline-position: under;
}
#home_icon{
    margin: 5px;
}
#contact_icon{
    margin: 5px;
}
#login .sign_icon{
    margin: 0px;
    margin-right: 10px;
}
#login li{
    list-style: none;
}

@media only screen and (max-width:1250px)
{
    .nav_icon{
        margin: 2% 1%;
    }
}
@media only screen and (max-width:1150px)
{
    .nav_icon{
        margin: 2% 0.7%;
    }
}
/*Slide show*/

#slide_show{
    padding: 50px 0;
    margin-top: 20px;
    padding-bottom: 0px;
  }
  #slide_show .container{

  }
  #slide_show button{
      border: none;
  }

  #slide_show .container {
    padding: 10px 15px;
  }
  #slide_show .skyblue {
      height: 400px;
      background-color: #747777;
  }

  #slide_show .carousel-indicators {
      bottom: 0;
  }
  #slide_show .carousel-control.right,
  #slide_show .carousel-control.left {
      background-image: none;
  }
  #slide_show .carousel-item {
      min-height: 350px;
      height: 100%;
      width:100%;
  }
  #slide_show .carousel-caption h3,
  #slide_show .carousel .icon-container,
  #slide_show .carousel-caption button {
      background-color: rgb(126, 136, 141);
  }
  #slide_show .carousel-caption h3 {
      padding: .5em;
  }
  #slide_show .carousel .icon-container {
      display: inline-block;
      font-size: 25px;
      line-height: 25px;
      padding: 1em;
      text-align: center;
      border-radius: 50%;
  }
  #slide_show .carousel-caption button {
      border-color: #00bfff;
      margin-top: 1em;
  }
  #slide_show button:hover{
    background-color: rgb(216, 211, 211);
    color: rgb(126, 136, 141);
}
#slide_show .carousel-caption{
    position: absolute;
    top: 70px;
}
  /* Animation delays */
  #slide_show .carousel-caption h3:first-child {
      animation-delay: 1s;
  }
  #slide_show .carousel-caption h3:nth-child(2) {
      animation-delay: 2s;
  }
  #slide_show .carousel-caption button {
      animation-delay: 3s;
  }

  #slide_show h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
  }

  #slide_show .p {
    padding-top: 125px;
    text-align: center;
  }

 #slide_show .p a {
    text-decoration: underline;
  }
/*Utility Classes*/

.head-pri{
    font-size: 3rem;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}
.heading_box{
    display: block;
    margin: 5px auto;
    width: 75%;
    padding-top: 0px;
}
/*.btn{
    padding: 15px 15px;
    margin: 10px;
    border: 2px white;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 7px;
    color: #614b4b;

}
.btn:hover{
    background-color: grey;
    color: white;
}*/
.head-sec{
    display: block;
    margin: auto;
    font-size: 2rem;
    padding: 10px;
}
/*Toogle Hide and Show*/
#myDIV{
  display: none;
  width: 500px;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}
#myDIV1{
    display: none;
    width: 500px;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    border-radius: 15px;
  }
  #myDIV2{
    display: none;
    width: 500px;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    border-radius: 15px;
  }
  #myDIV3{
    display: none;
    width: 500px;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    border-radius: 15px;
  }
  #myDIV4{
    display: none;
    width: 500px;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    border-radius: 15px;
  }
/*Section Offers*/
/*
#offers{
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    height: 950px;
}
.heading_box{
    display: block;
    margin: 5px auto;
    width: 75%;
    padding-top: 0px;
}
#offers h1{
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 2.3rem;
    color: #2B2B2B;
}
#offer{
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-gap: 50px;
    margin: 20px;
    justify-content: center;
    align-content: center;

}*/
/*animation :Button Offers*/
/*#offer .upper{
    border: 2px solid cyan;
    height: 450px;
    width: 300px;
    overflow: hidden;
    margin: 25px;
    background-color: none;
}*/
/*#offer .box{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    background-color: none;

}
#offer .btn_offers{
    display: block;
    align: center;
    font-size: 1rem;
    padding: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #bebcbc;
    width: 500px;
    height: 50px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inder', sans-serif;
    border:none;

}

#offer .box1{

    display: block;
    height: 300px;
    width: 500px;
    border-radius: 15px;
    background-color: #DDDDDD;
}
#offer .box2{
  display: block;
  overflow: hidden;
  width: 500px;
  height: 0px;
  transition: .5s ease;
  border-radius: 15px;
  border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border:none;

}
#offer h1 a{
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;

}
#offer .box img{
    height: 100px;
    display: block;
    margin: auto;
    padding: 20px;
}
#offer p{
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    color: #614b4b;*/
     /* font-family: 'Montserrat', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inder', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Inder', sans-serif; */
   /* font-family: 'Andada', serif;
    font-family: 'Livvic', sans-serif;

}
#offer .box:hover .box2{
  height: 50px;
  border-radius:10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#offer .box:hover .box1{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#offer .upper{
    height: 340px;
    width: 500px;
    display: block;
}*/
/*Section: Footer*/
#footer{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    position: relative;
    bottom: 0px;
    width: 100%;
}
#foot{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 200px;
}
#foot .box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0px;
    /*border: 2px solid red;*/
}

#foot .box ul{
    text-decoration: none;
    display: flex;
    padding-left: 0px;
}
#foot .box ul li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin:10px 10px;
    margin-right: 15px;
    color: lightgrey;
    font-size: 1rem;
    font-family: 'Livvic', sans-serif;

}
#foot .box a{
    text-decoration: none;
    color: lightgrey;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-size: 1rem;
}
#foot .box a:hover{
    color: white;
}

#footer p{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-bottom: 0px;
    font-family: 'Livvic', sans-serif;
}
#foot .box h1{
    font-size: 1rem;
    margin: 10px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;
}

#foot .icon_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#foot .icon_btn{
    width: 30px;
    height: 30px;
    margin: 8px;
    border: none;
    border-radius: 10px;
}
#foot .icon_btn:hover{
    width: 31px;
    height: 31px;
}
/*Social Media Icons Images*/
#insta{
    background: url('https://i.pinimg.com/originals/c6/2c/05/c62c055ede6aadbb1f94a555071c98b9.jpg') no-repeat center center/cover;
}
#facebook{
    background: url('https://i2.wp.com/socialmediaicons.biz/wp-content/uploads/2019/04/Facebook-vector-white-round-social-media-icons.jpg?fit=1080%2C1080&ssl=1') no-repeat center center/cover;
    z-index: 1;
}
#linkedin{
        background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPG-vDpVduE1tHuJIiR3pfx8p-QYEZQo4L-l-6W5zmVTiNoYGDV63ZpcO2yLMloGeavyk&usqp=CAU') no-repeat center center/cover;

}
#pintrest{
         background: url('https://i.pinimg.com/originals/c8/3e/66/c83e661429ac53ea8cbb597e047c35fd.png') no-repeat center center/cover;

}
#youtube{
     background: url('https://cutewallpaper.org/21/youtube-logo-black-background/Youtube-White-Icon-Youtube-Logo-Youtube-Icon-Youtube-PNG-.jpg') no-repeat center center/cover;

}
#twitter{
     background: url('https://pngimg.com/uploads/twitter/twitter_PNG2.png') no-repeat center center/cover;

}

.hr_line{
   background-color: white;
    opacity: 1;
    margin: 0px;
}
/*Tips and Tricks*/

#tip{
    display: flex;
}
#tip .tip_button{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 60px;
    margin-left: 70px;
    margin-bottom: 40px;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Andada', serif;
    font-family: 'Inder', sans-serif;

    font-family: 'Lobster Two', cursive;
    font-family: 'Inder', sans-serif;
}
#tip .tip_btn_design{
    border: none;
    background-color: rgb(174 188 183);
    color:rgb(255, 255, 255);
    opacity: 1;
    margin: 10px;
    height: 40px;
    border-radius: 7px;
    font-size: 1rem;
}
#tip .tip_btn_design:hover{
    background-color:rgb(241, 235, 235);
    color:rgb(36, 36, 36);
    opacity: 1;
}
#tip #elaborate{
    font-size: 1.1rem;
    margin: 50px;
    margin-right: 100px;
    margin-left: 100px;
    height: 100%;
    width: 60%;
    background-color: rgb(219, 219, 219);
    border-radius: 20px;
    padding: 50px;
    font-family: 'Livvic', sans-serif;
}

/*Phone and Tablet max-width:1050px*/
@media only screen and (max-width:1200px)
{
    /*Navigation*/
    .nav-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-top: 50px;
    }
    .navbar{
        height: 700px;
        flex-direction: column;
         border: 1px solid white;
        transition: all 0.7s ease-out;
    }
    .burger {
    display: inline-block;
    cursor: pointer;
    }

#bar1, #bar2, #bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {opacity: 0;}

.change #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
    .h-nav-resp{
        height: 100px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .nav-list li a{
        font-size: 1.5rem;
    }
    .navbar a:hover{
        font-size: 1.6rem;
    }

    .navbar hr{
        display: block;
        width: 70%;
        background-color: white;
    }
    #login{
        display: none;
    }
    #sign{
        display: flex;
    }
    .current{
        text-decoration: none;
        background-color: #626262;
        margin: 0px;
    }
    .nav_icon{
        width: 70%;
    }
    .logo{
        top: 22px;
    }
}

hr{
    color: white;
    opacity: 1;
    margin: 0px;
}
/*back to top button*/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: url('https://ps.w.org/ar-back-to-top/assets/icon-256x256.jpg?rev=2022521') no-repeat center center/cover;
    background-size: cover;
    height: 50px;
    width: 50px;
    z-index: 100;
  }
  @media only screen and (max-width:1100px){
    /*Section: Footer*/
   
    #foot{
        display: flex;
        flex-direction: column;
        margin: 5px 25px;
    }
    #foot .box{
        flex-direction: column;
        margin: 10px;
    }
    #foot .box .contact{
        display: flex;
        flex-direction: column;
    }
    #foot .box ul li{
        font-size: 1.8rem;
        margin: 10px;
        padding: 1px;
    }
    #foot .box h1{
        display: block;
        width: 100%;
        font-size: 1.8rem;
    }
    #foot .box a{
        font-size: 1.8rem;
    }
    #foot p{
        font-size: 1.6rem;
    }
    #footer p{
        font-size: 1.5rem;
    }
    #footer .icon_btn{
        width: 55px;
        height: 55px;
    }
    #footer .icon_btn:hover{
        width: 57px;
        height: 57px;
    }
    /*slide_show*/
    #slide_show{
        margin-top: 50px;
    }
    /*tips and tricks*/
    /*#offer{
        display: grid;
        grid-template-columns: repeat(1, 500px);
        grid-gap: 50px;
        margin: 20px;
        justify-content: center;
        align-content: center;
    }
    #offers{
        height: 1700px;
    }*/
}

/*Tips and Tricks*/
@media only screen and (max-width:1000px){

    #tip{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1100px;
    }
    #tip .tip_button{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-gap: 20px;
        margin: 0px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    #tip .tip_btn_design{
        width: 400px;
        height: 50px;
        display: block;
        margin: auto;
        font-size: 2rem;
    }
    #tip #elaborate{
        width: 90%;
        display: block;
        margin: auto;
        margin-bottom: 40px;
        font-size: 2rem;
    }

}
