@import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Andada&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Andada&family=Livvic:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Andada&family=Inder&family=Livvic:wght@300&family=Lobster+Two&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
         /*CSS Reset*/
*{
    /*box-sizing: border-box;*/
    margin: 0px;
    padding: 0px;
    /*font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Andada', serif;
    font-family: 'Inder', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Lobster Two', cursive;*/

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #a3a3a347;
}
/*Navigation Bar*/

.logo{
    width: 50px;
    z-index: 10;
    height: 50px;
    /* border: 1px solid red; */
    position: fixed;
    top: 8px;
    left: 10px;
    border-radius: 50px;
    margin-left: 5%;
}
.logo img{
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
    position: fixed;
    top:2px;
    left:15px;
    z-index: 20;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    cursor: pointer;
    height: 70px;
    width: 100%;
}
.navbar hr{
    display: none;
}
.nav-list{
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 8.4%;
}

.nav-list li{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}


.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;
}

.nav-list li a:hover{
    color: rgb(197, 194, 194);
}
.background{
    background: black;
    background-size: cover;
    background-blend-mode: darken;
    z-index: 3;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 55px;
    top:25px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

.nav_icon img{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.nav_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2% 1.5%;

}
#sign{
    display: none;
}
#login{
    position: fixed;
    top: 20px;
    right: 30px;
    margin: 0px;
    margin-right: 5%;
}
#login a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;

}

#login a:hover{
    color: rgb(197, 194, 194);
}
.nav_icon p{
    color: white;
}
.current{
    text-decoration: underline;
    text-underline-position: under;
}
#home_icon{
    margin: 5px;
}
#contact_icon{
    margin: 5px;
}
#login .sign_icon{
    margin: 0px;
    margin-right: 10px;
}
#login li{
    list-style: none;
}

@media only screen and (max-width:1250px)
{
    .nav_icon{
        margin: 2% 1%;
    }
}
@media only screen and (max-width:1150px)
{
    .nav_icon{
        margin: 2% 0.7%;
    }
}
/*Section Home*/
/*#home::before{
    content: "";
    position: absolute;
    /*background: url('https://images.unsplash.com/photo-1503951914875-452162b0f3f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80') no-repeat center center/cover;*/
    /*background-color: #e5e5e5;
    height: 800px;
    width: 100%;
    z-index: -2;
    opacity: 1;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 800px;
}

#home h5{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: 10px;
}

#home p{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    display: block;
}
#home .btn{
    opacity: 80%;
    background-color: black;
    color: white;
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
}
#home .btn:hover{
    opacity: 100%;
}*/

/*Home animation*/
/*.mySlides {
    height: 800px;
    /* width: 100%; */
    /* margin: 10px; */
   /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}*/
/*#home img {
 height: 690px;
 width: 100%;
 vertical-align: middle;
 filter: brightness(0.47);

}/*

/* Slideshow container */
/*.slideshow-container {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 800px;
}*/

/* Caption text */
/*.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/

/* Number text (1/3 etc) */
/*.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 800px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}*/

/* The dots/bullets/indicators */
/*.dot {
  display: none;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}*/

/* Fading animation */
/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}*/

/* On smaller screens, decrease text size */
/*@media only screen and (max-width: 1100px) {

  .text {font-size: 11px}
  .slideshow-container {
    width: 100%;
  }
  .mySlides {
    width: 100%;
  }
  #home img{
    width: 100%;
  }
}*/

/*Padmaja Code for animation*/
#home img{
    height: 800px;
    filter: brightness(50%);
}
#home p{
    font-size: 2rem;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inder', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Inder', sans-serif; */
    font-family: 'Andada', serif;

}
#home h5{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Inder', sans-serif;

    font-size: 3rem;
}
#home .carousel-caption{
    margin-bottom: 10%;
}
#home .btn{
    padding: 15px 15px;
    margin: 10px;
    border: 2px black;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 5px;
    color: #614b4b;
    opacity: 70%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inder', sans-serif;

}
#home .btn:hover{
    background-color: grey;
    color: white;
}
#services_icon{
    margin-right: 8px;
    height: 22px;
    width: 22px;
}
#about_icon{
    margin-right: 8px;
    height: 22px;
    width: 22px;
}
.sign_icon{
    margin-right: -10px;
    width: 20px;
    height: 20px;
}
/*Section Offers*/

#offers{
    display: flex;
    flex-direction: column;
    height: 730px;
    background-color: #EFEFEF;
   /* border: 1px solid blue;*/
}
.heading_box{
    display: block;
    margin: 5px auto;
    width: 75%;
    padding-top: 0px;
}
#offers h1{
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.3rem;
    color: #2B2B2B;
}
#offer{
    /*border: 2px solid red;*/
    display: flex;
    margin: 20px;
    justify-content: center;
    align-content: center;
}
/*animation :Button Offers*/
/*#offer .upper{
    border: 2px solid cyan;
    height: 450px;
    width: 300px;
    overflow: hidden;
    margin: 25px;
    background-color: none;
}*/
#offer .box{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    background-color: none;
    margin-right: 10px;
    margin-left: 10px;
    /*border: 10px solid green;*/
}
#offer .btn_offers{
    display: block;
    align: center;
    font-size: 1rem;
    padding: 5px;
    margin: auto;
 /* border-radius: 10px;*/
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #bebcbc;
    width: 300px;
    height: 100px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inder', sans-serif;
    border:none;


    /*border: 2px solid black;*/
}

#offer .box1{
    /*border: 2px solid black;*/
    display: block;
    margin: auto;
    height: 500px;
    width: 300px;
    border-radius: 15px;
    background-color: #DDDDDD;
}
#offer .box2{
  display: block;
  margin: auto;
  overflow: hidden;
  width: 300px;
  height: 0px;
  transition: .5s ease;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border:none;
  /*border: 1px solid red;*/
}
#offer h1 a{
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;

}
#offer .box img{
    height: 100px;
    display: block;
    margin: auto;
    padding: 20px;
}
#offer p{
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    color: #614b4b;
     /* font-family: 'Montserrat', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inder', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Inder', sans-serif; */
    font-family: 'Andada', serif;
    font-family: 'Livvic', sans-serif;

}
#offer .box:hover .box2{
  height: 100px;
  border-radius:10px;
  border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#offer .box:hover .box1{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}
/*Section: Why Choose Us*/

#choose::before{
    content: "";
    position: absolute;
    background: url('https://images.unsplash.com/photo-1585314062604-1a357de8b000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80') no-repeat center center/cover;
    z-index: -3;
    opacity: 90%;
    height: 700px;
    width: 100%;
}
#choose{
   /*border: 2px solid green;*/
   /*background-color: #ffffff6b;*/
}
#chooseus{
    display: flex;
    /*border: 1px solid red;*/
    margin: 20px;
    align-content: center;
    justify-content: center;
}
#chooseus .box{
    text-align: center;
    margin: 10px;
    padding: 5px;
    height: 100%;
   /*border: 10px solid green;*/
   background-color: none;

}
/*
#chooseus .box:hover{
        box-shadow: 0px 0px 0px 3px lightgrey;
}
*/
#chooseus .box img{
    display: block;
    margin: auto;
    width: 170px;
    height: 100px;
    padding: 20px;
    /*border: 1px solid green;*/
}
#choose #bag_img{
    height: 100px;
    width: 110px;
    /*border: 1px solid red;*/
}
#chooseus p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    color: wheat;
    font-family: 'Livvic', sans-serif;

}
#chooseus h1{
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #E8F0F2;
   padding-top: 30px;
}

#choose .head-pri{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Andada', serif;
    font-family: 'Inder', sans-serif;
    padding-top: 50px;
    color: #E8F0F2;
}
#choose .bigbtn{
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width : 60%;
    font-size: 1.1rem;
    background-color: white;
    border: 1px solid black;
}
/*Section: Satisfied Costumer reviews*/
/*
#cost-rev::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    z-index: -1;
    opacity: 90%;
}
*/
#cost-rev{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 169px;
    flex-direction: column;
    /*border: 1px solid violet;*/
}
@media only screen and (max-width:1181px)
{
    #cost-rev{
        height: 135px;
    }
}
#cost-rev .bigbtn{
    display: block;
    margin: auto;
    background: none;
    border: 2.5px solid white;
    color: white;
    width: 70%;
    font-size: 2rem;
    text-shadow: 2px 2px grey;
}
#cost-rev .bigbtn:hover{
    box-shadow: 1px 1px 1px 1px grey;
    background-color: #ffffff6b;
}

/*Numbers*/
#number{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
    font-size: 2rem;
}
#number .num{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#number p{
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: wheat;
}
#costumer_num{
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: auto;
    color: white;
}

/*Services*/
#services{
/*    border: 2px solid brown;*/
    background-color: #f1f1f1
    height: 890px;
}
#ser{
  /*  border: 2px solid cyan;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px 30px;
    /*background-color: grey;*/
}
#services h1{
    margin-top: 0px;
    color: #2c0e0e;
    font-family: 'Montserrat', sans-serif;
}
#ser .box{
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    padding: 10px;
}
/*#ser .icon_bar{
    display: flex;
    flex-direction: row;
}*/
#ser .icon_btn{
    width: 150px;
    height: 150px;
    margin: 4px;
    /*box-shadow: 0.1px 0.1px 0.1px 0.1px grey;*/
    border: 1px solid #dacbcb;
    border-radius: 15px;
    margin-top: 8px;

}
#ser .icon_btn:hover{
    box-shadow: 3px 3px 3px 3px  #8080801a;
}
#ser .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-right: 50px;
    width: 30%;
    /*margin: 40px;*/
}
#ser .main p{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Andada', serif;
    font-family: 'Inder', sans-serif;
}

/*
#ser .box img{
    display: block;
    margin: auto;
    margin-right: 150px;
    margin-left: 150px;
    width: 300px;
    height: 300px;
}
*/
#ser .icon{
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    margin-left: 30px;
    width: 60%;

}
#ser .medbtn{
    display: block;
    margin: auto;
    padding: 10px;
    color: black;
    font-size: 2rem;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1px white;
    box-shadow: 2px 2px 2px 2px #8080801a;
}
/*#ser #wed_head{
   width: 100%;
}
@media only screen and (max-width: 1200px)
{
    #ser .container br{
        display: block;
    }
}*/
/*Big Icon Photos*/
#btn_male{
    background : url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.14&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ85q8U70rXK2BQzgVYLo0AazlwYrmA5yYatPEZPpF3FwFi_oR6MvLj-aacbZWMdzGce2_5RCpC3ENqoZSA_3Et4Ycn7adm-OKwh0XLvo0G-Ao0SvbBUac7LiU0&disp=emb&realattid=ii_krlo5xev13') no-repeat center center/cover;
}
#btn_female{
    background : url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.15&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-f3BB1XqyOGALQKDizJkBXLNh9EEuUOxFM_51e_yy5z7Jy15roUC10ts5_vbnPsXjrE912olcx8ghkWZs_Cq6peRTzAUkTIW7zncwVNHM6Thbwro8HdS6qJxk&disp=emb&realattid=ii_krlo68b515') no-repeat center center/cover;
}
#btn_wedding{
    background: url('https://i0.wp.com/detechter.com/wp-content/uploads/2017/07/Hindu-Wedding-India.jpg?fit=886%2C535&ssl=1') no-repeat center center/cover;

}
#ser .medbtn:hover{
    box-shadow: 3px 3px 3px 3px #8080801a;
    font-size: 2.1rem;
    border: 1px white;
}
#ser .icon_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 150px;
}
#ser .icon_text p{
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Inder', sans-serif;

}
/*Small Icon Photos*/
/*Mens*/
#m_1{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.7&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-EYEpRO9HNN9EknPF9Q-YLZldv22-bxxlQvcexPgG7Tbj5SJak5qWg_QxfMIcoFgB0yJ_NBB_h6XWrieFRMbx2wecvpW3-H_fmSXXV3ATlXqJLSm1oZF0TI3Y&disp=emb&realattid=ii_krlo50v26') no-repeat center center/cover;
}
#m_2{
    background: url('https://previews.123rf.com/images/kahovsky/kahovsky1803/kahovsky180300012/96989793-young-man-shaving-face-with-foam-vector-flat-cartoon-character-illustration-icon-design-isolated-on-.jpg') no-repeat center center/cover;
}
#m_3{
    background: url('https://cdn1.iconfinder.com/data/icons/barber-services-in-line-style/32/man-hair-dyeing-512.png') no-repeat center center/cover;
}
#m_4{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.19&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ8RaFcXV6Zn9yyhWUent_jTbTADI10aZV7dmPhOXH-W6PSMljlMNNzlKxxs2oIQ2lwWVZvMWbOkvEXS36du2SiModYZ1Z3BE-7uxrbHhadqo9f7N-kqK-qttT8&disp=emb&realattid=ii_krlo9lbt18') no-repeat center center/cover;
}
#m_5{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.10&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ9eZiGx4U8C4zpHnrY2QqbXn3ksWwU5LhBVCdp3a8H6XZYOnWkMGfODgNdJ2x-B3jsIc69pScbimCbqUoFVkJ4joxHC86soZcBJ6ycYupVPSN42P0VdsV-_SBA&disp=emb&realattid=ii_krlo5e4j9') no-repeat center center/cover;
}
/*Female*/
#fm_1{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.9&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ90UWLuCF62RLf9JURcI93iR2r9amq-MaCoioGPXP54CcjVdXxR1qNueo22eYM7WvSqOFcwYXyhNPrQSJpurXnk9VQ1ikmHf38yszuLTiAKOLydd6FVKWdjX9Y&disp=emb&realattid=ii_krlo59wh8') no-repeat center center/cover;
}
#fm_2{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.11&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_vidDkxnMuDQcgT8A26Q7Ax11kK8s4MqP9M5hzDgaR1SWtWUFXdxGjJ7OQStg-VHDh9kuNYZbxKz0LCoQvwZLCoTsGAEZ1mrUasHUlfTqbfkbVs9GDYk0iJVo&disp=emb&realattid=ii_krlo5hkw10') no-repeat center center/cover;
}
#fm_3{
    background: url('https://www.crushpixel.com/big-static17/preview4/hair-colouring-rgb-color-icon-2547377.jpg') no-repeat center center/cover;
}
#fm_4{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.13&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ96-AsOsKvu0slvtumB3b-cbAS83qfTHaxCMWkI7nSYB1oWRcfsAaVAqJVSIvCQ9irUVlPVTzMsOm5xP-BzyMdGLXwuTLCuIB2sYcnFtwgqoHVmU626UWdK97s&disp=emb&realattid=ii_krlo5t8g12') no-repeat center center/cover;
}
#fm_5{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.16&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_2pTvfAo7a7SC5gCqD879dG42Ka731zxhaY1Q_91ooqD96mnDXd3nOZ4HY0_80abqPI7Pl35myLX2r2kFRAMn4Kfm31yz0FAqNFE2yrAbWzFJCe16-2feBTqM&disp=emb&realattid=ii_krlo628014') no-repeat center center/cover;
}
#fm_6{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.17&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ9Ry6PGGe559qzmeH5gTdNzWlKmanbNJutR5_RSIHl2bqlicSwAkS07PqzVPIzzYRiPmKxVOErFmjPu3BM2xAA1EXVVL4Jysb1_3TAl8ZEsM87vlOA44FnZz08&disp=emb&realattid=ii_krlo6q1t16') no-repeat center center/cover;
}
#fm_7{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.2&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-Ad1_-MAn4_22c3ZFHx5JET3GBZ0MiubyLjVvekv8b1j1psokdFss19bT-EWFCNj1npMERS3UCmpU111jodOu_8LW9Ahl0yLYTyKFqgTPmp2j2eAE2bJu96KU&disp=emb&realattid=ii_krlo43c11') no-repeat center center/cover;
}
#fm_8{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.12&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-K-MFYwzrQAA3gMFgs4wiG6io14xNjQT5cLceOA4erWKOsG4hqsAXq_zhE9tC2kXbtCMMSTEshkWUQ_lhTUw_AX8xhAg4m6-TN7ldUAUBrDdtxulGU8u0DfMA&disp=emb&realattid=ii_krlo5prl11') no-repeat center center/cover;
}
/*WEDDING*/
#wed_1{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.4&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_CeKdoA0S_KUIAzwAhJQag2bDuRAQv-kvJX9oP7yqLTUnI7U8jwz67zdxVWVQhF5PwiaKdmbwOTpVpy4E6vScR8chSIHBykdLUUCXOFpTsVdnb8fz3lvAnnxU&disp=emb&realattid=ii_krlo4e793') no-repeat center center/cover;
    background-size: contain;
    background-color: #dcb9bf;
}
#wed_2{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.1&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_SjrsZlGcg47kcls8Dk9a3rLZMz3oj7A6AJywS2I8PD7DWAKBJt3G77pfKRQm7xDeQDjNFvmxKMnNrK9jsTcsNnnkBBId-elWObbCW6axpIC17_mePcJTpeRo&disp=emb&realattid=ii_krlo3zfl0') no-repeat center center/cover;
    background-size: contain;
}
#wed_3{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.3&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ9cRMpSMp_A-8rhE4OJsHrVgpao4qB8vZQ3lzlime9sSLVuWKMH4YogfUNZcblQwTlPfr96aA5Ht1EuVNBqpwOlvNykw4iV73HOzXKja_-AjfWLOIWh-hTgQDI&disp=emb&realattid=ii_krlo47ml2') no-repeat center center/cover;
}
#wed_4{
    background: url('https://mail.google.com/mail/u/0?ui=2&ik=3a4aca73e4&attid=0.16&permmsgid=msg-f:1706436801925071090&th=17ae7b3af265c0f2&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_2pTvfAo7a7SC5gCqD879dG42Ka731zxhaY1Q_91ooqD96mnDXd3nOZ4HY0_80abqPI7Pl35myLX2r2kFRAMn4Kfm31yz0FAqNFE2yrAbWzFJCe16-2feBTqM&disp=emb&realattid=ii_krlo628014') no-repeat center center/cover;
}

/*TESTIMONIALS*/
/*testimonial-head*/
:root {
      --dark-green: #9cc675;
      --dark-yellow: #e89a3d;
      --extra-light-brown:#fdf0d7;
      --light-brown: #ecd5ab;
      --dark-brown:#915b40;
      --light-yellow:#f8e3a8;
      --light-red:#f3ac99;
      --light-teal:#a6c8cc;
      --light-gray:#ddd5d6;
      --theme-color2: #e89a3d;
    }
#customer-reviews{
    background-color: #ddd5d6;
    height: 650px;
}
#testimonial-head{
    width: 70%;
    display: block;
    margin: auto;
    color: #2c0e0e;
    margin-top: 50px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;

}
#testimonial-head hr{
    background-color: #2c0e0e;
}
 .site-logo {
   width: 218.33px !important;
   margin-right: 50px;
}
 .btn {
   border-radius: 5px;
   font-weight: normal;
   font-size: 15px;
   letter-spacing: 0.02em;
   line-height: 12px;
   text-align: center;
   font-weight: 600;
   font-size: 14px;
   padding: 14px 30px;
   cursor: pointer;
}
 .btn-theme {
   background: var(--theme-color1);
   color: #212121;
}

.c-container {
    margin: auto;
    width: 93%;
    position: relative;
    z-index: 1;
}

.btn-outline-white {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: none;
    border-width: 2px;
    border-color: #fff;
    font-weight: 500;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.btn {
    border-radius: 5px;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 14px 30px;
    cursor: pointer;
}
.btn-outline-white:hover {
    background-color: #fff;
    color: var(--text-dark);
}
/* common css up */

.testimonial p {
   font-size: 28px;
   letter-spacing: 0.02em;
   line-height: 35px;
}
 .testimonial .name {
   font-weight: bold;
   font-size: 18px;
   letter-spacing: 0.04em;
   line-height: 35px;
   text-align: left;
}
 .testimonial .designation {
   font-size: 14px;
   letter-spacing: 0.04em;
   text-align: left;
   color: #fff;
   opacity: 0.65;
}
 .unt {
   margin-bottom: 20px;
   margin-top: 60px;
}
 .hero-text {
   font-size: 30px;
   letter-spacing: 0.02em;
   color: #fff;
}
 .gallery-thumbs {
   height: 500px;
}
 .gallery-thumbs .swiper-wrapper {
   align-items: center;
}
 .gallery-thumbs .swiper-slide {
   background-position: center;
   background-size: cover;
   width: 250px !important;
   height: 330px;
   position: relative;
}
 .gallery-thumbs .swiper-slide img {
   filter: contrast(0.5) blur(1px);
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}
 .gallery-thumbs .swiper-slide-active img {
   filter: contrast(1) blur(0px) !important;
}
 .flex-row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
}
 .flex-row .flex-col {
   -ms-flex-preferred-size: 0;
   flex-basis: 0;
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
   max-width: 100%;
   position: relative;
   width: 100%;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.testimonial-section .quote {
    width: 75%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 100px;
}
.swiper-container.testimonial {
    height: 500px;
}


/*background color*/
.testimonial-section .user-saying {
    background: #585555;
    width: 60%;
    color: #fff;
    height: 100%;
}
.testi-user-img {
    width: 40%;
    background-color: #ddd5d6;
}
.testimonial-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.testimonial-section .quote p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    font-style: italic;
    margin: 0;
}
.quote-icon {
    width: 38px;
    display: block;
    margin-bottom: 30px;
}
.swiper-container-vertical>.swiper-pagination-bullets {
    right: 30px;
    top: 250px;
    transform: translate3d(-50%,0,0);
}
.spacer{
    background-color: white;
    height: 500px;
}
/*Gallery*/
/*#gallery{
    background-color: #827d7d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#gallery .head-pri{
    color: wheat;
    display: block;
    margin: auto;
    width: 40%;
    font-family: 'Montserrat', sans-serif;

}
@-webkit-keyframes animation{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

@-webkit-keyframes animation2{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

#gallery{ cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;}

#gallery {
    background:#827d7d;
           -webkit-perspective:1000px;
           overflow:hidden;

cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;
}
@font-face
{
    font-family: 'Montserrat', sans-serif;
    src: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/hand.ttf);
    font-weight:bold;
}

#gallery .slider div p{color:#1c1c1c;position:absolute;bottom:-65px; font-family:font; font-size:22px;}
#gallery .slider{

     -webkit-animation:animation ease 1s;animation-delay:.8s;animation-fill-mode:backwards;


    margin:60px auto 0 auto;
    height:420px;
    width:35%;


       perspective:1000px;
       transition:ease-in-out .2s;
             
}



#gallery .slide img { text-align:center;width:100%; height:100%; -webkit-user-drag:none;user-drag:none;-moz-user-drag:none; border-radius:2px; }


#gallery .slide{
      -webkit-user-select:none;
user-select:none;
  -moz-user-select:none;
    position:absolute;
        height:350px;
    width:330px;

box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
background:#fcfcfc;
             -webkit-transform-style:preserve-3d;
              transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
             text-align:center;
             
             border:12px white solid;
             box-sizing:border-box;
             border-bottom:55px white solid;
             border-radius:5px;



}
#gallery .transition {
     -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
   -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
      transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}
*/
/* Section: App*/
#app{
    display: flex;
    flex-direction: row-reverse;
    height: 600px;
    /*border: 1px solid red;*/
}
/*@media only screen and (max-width:1100px)
{
    #app{
        height: 600px;
    }
}*/
#app::before{
    content: "";
    position: absolute;
    /*background: url('https://thumbs.dreamstime.com/b/hairdresser-tools-black-background-copy-space-center-123969265.jpg') no-repeat center center/cover ;*/
    background-color: #EEEEEE;
    width: 100%;
    height: 600px;
    opacity: 90%;
    z-index: -1;
}
#app .box{
   /*border: 1px solid blue;*/
   color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
   justify-content: center;
    align-content: center;
    width: 100%;
}
#app .photo_btn{
    display: block;
    width: 180px;
    margin: auto;
    height: 60px;
    background-color: black;
    border-radius: 5px;
}
#app .photo_btn:hover{
    border: 2px solid black;
    opacity: 90%;
}
#google_store{
    background: url('https://www.pxpng.com/public/uploads/small/11602614144t9qls8iimbyj15j6ftg06h2geuzh2v8tznfoubfyexjmpreds71hmfzjinqkmewm2f3hxwpaiiibmgmjqpldis7ex9edqxfpjmwz.png') no-repeat center center/cover;


}
#apple_store{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Available_on_the_App_Store_%28black%29.png/640px-Available_on_the_App_Store_%28black%29.png') no-repeat center center/cover;
}
#app span{
    font-family: 'Montserrat', serif;
}
#app h2{
    color: #393E46;
    font-family: 'Montserrat', serif;
    text-align: center;
    /*font-family: 'Roboto Slab', serif;*/
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Inder', sans-serif;
    font-family: 'Andada', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Bree Serif', serif;
}
/*Phone animation*/
#phone_app{
    width: 50%;
}
#phone_app img{
    height: 450px;
    width: 200px;
     }
#phone_app .carousel-caption{
    margin-bottom: 10%;
}
#phone_app .carousel{
    height: 550px;
    width: 275px;
}
#phone_app .carousel-control-prev-icon{
    display: none;
    position: absolute;
    top: 20px;
    left:15px;
    background-color: black;
    color: black;
    border: 1px solid white;
    border-radius: 50px;
}
#phone_app .carousel-control-next-icon{
    display: none;
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: black;
    color: black;
    border: 1px solid white;
    border-radius: 50px;
}
#phone_app #carouselExampleCaptions{
    position: relative;
    top: 50px;
    left: 25px;
    margin: 30px;
    margin-left: 100px;
}
#phone_app .outer{
    position: absolute;
    left: 10px;
    height: 550px;
    width: 300px;
    margin: 30px;
    margin-left: 100px;

}
#phone_app::before{
    background-color: black;
}
#app .video{
    position: relative;
    top: 89px;
    left: 126px;
    background-color: black;
    width: 265px;
    height: 440px;
    display: flex;
    /* display: block; */
    justify-content: center;
    align-items: center;
}
.video video{
    height: 440px;
}
/*Moving Store*/
#app .box_move{
    display: flex;
    flex-direction: row;
    width: 500px;
    /*border: 2px solid grey;*/
}

.box_move img{
    width: 250px;
    height: 500px;
    margin: 25px 5px;
    left: -500%;
    /*border: 2px solid cyan;*/
}
#move_1{
    position: relative;
    animation-name: move_1;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes move_1{
    0%   {left:-100%; top:0px;}
    100% {left: 0px; top:0px;}
}

#move_2{
    position: relative;
    left: -1000px;
    animation-name: move_1;
    animation-duration: 4s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}
@keyframes move_2{
    0%   {left:-200%; top:0px;}
    100% {left: 0px; top:0px;}
}

/*Section: feedback*/
/*#feedback{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 400px;
    background-color: #2B2B2B;
}
#feedback h1{
    display: block;
    margin: auto;
    font-size: 1.3rem;
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;

}
#feedback .box{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 25px;
}
#feedback .form_box{
    display: flex;
    /*border: 1px solid white;*/
    /*flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
}
#feedback .formde{
    margin: 5px;
    padding: 1px;
    font-size: 1.1rem;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

#feedback .submit_btn{
    display: block;
    width: 30%;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: white;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 5px;
}
#feedback .submit_btn:hover{
    color: white;
    background-color: grey;
}*/
/*Section: Footer*/
#footer{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}
#foot{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 200px;
}
#foot .box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0px;
    /*border: 2px solid red;*/
}

#foot .box ul{
    text-decoration: none;
    display: flex;
    padding-left: 0px;
}
#foot .box ul li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin:10px 10px;
    margin-right: 15px;
    color: lightgrey;
    font-size: 1rem;
    font-family: 'Livvic', sans-serif;

}
#foot .box a{
    text-decoration: none;
    color: lightgrey;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-size: 1rem;
}
#foot .box a:hover{
    color: white;
}

#footer p{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-bottom: 0px;
    font-family: 'Livvic', sans-serif;
}
#foot .box h1{
    font-size: 1rem;
    margin: 10px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Livvic', sans-serif;
}

#foot .icon_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#foot .icon_btn{
    width: 30px;
    height: 30px;
    margin: 8px;
    border: none;
    border-radius: 10px;
}
#foot .icon_btn:hover{
    width: 31px;
    height: 31px;
}
/*Social Media Icons Images*/
#insta{
    background: url('https://i.pinimg.com/originals/c6/2c/05/c62c055ede6aadbb1f94a555071c98b9.jpg') no-repeat center center/cover;
}
#facebook{
    background: url('https://i2.wp.com/socialmediaicons.biz/wp-content/uploads/2019/04/Facebook-vector-white-round-social-media-icons.jpg?fit=1080%2C1080&ssl=1') no-repeat center center/cover;
    z-index: 1;
}
#linkedin{
        background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPG-vDpVduE1tHuJIiR3pfx8p-QYEZQo4L-l-6W5zmVTiNoYGDV63ZpcO2yLMloGeavyk&usqp=CAU') no-repeat center center/cover;

}
#pintrest{
         background: url('https://i.pinimg.com/originals/c8/3e/66/c83e661429ac53ea8cbb597e047c35fd.png') no-repeat center center/cover;

}
#youtube{
     background: url('https://cutewallpaper.org/21/youtube-logo-black-background/Youtube-White-Icon-Youtube-Logo-Youtube-Icon-Youtube-PNG-.jpg') no-repeat center center/cover;

}
#twitter{
     background: url('https://pngimg.com/uploads/twitter/twitter_PNG2.png') no-repeat center center/cover;

}
/*Utility Classes*/

.head-pri{
    font-size: 3rem;
    padding: 10px;
    text-align: center;
}

/*.btn{
    padding: 15px 15px;
    margin: 10px;
    border: 2px white;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 7px;
    color: #614b4b;

}
.btn:hover{
    background-color: grey;
    color: white;
}*/
.head-sec{
    display: block;
    margin: auto;
    font-size: 2rem;
    padding: 10px;
}

/*Phone and Tablet max-width:1050px*/
@media only screen and (max-width:1200px)
{
    /*Navigation*/
    .nav-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-top: 50px;
    }
    .navbar{
        height: 700px;
        flex-direction: column;
         border: 1px solid white;
        transition: all 0.7s ease-out;
    }
    .burger {
    display: inline-block;
    cursor: pointer;
    }

#bar1, #bar2, #bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {opacity: 0;}

.change #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
    .h-nav-resp{
        height: 100px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .nav-list li a{
        font-size: 1.5rem;
    }
    .navbar a:hover{
        font-size: 1.6rem;
    }

    .navbar hr{
        display: block;
        width: 70%;
    }
    #login{
        display: none;
    }
    #sign{
        display: flex;
    }
    .current{
        text-decoration: none;
        background-color: #626262;
        margin: 0px;
    }
    .nav_icon{
        width: 70%;
    }
    .logo{
        top: 22px;
    }
}
hr{
    color: white;
    opacity: 1;
    margin: 0px;
}
@media only screen and (max-width:1100px){

    /*Section : Home*/
    #home{
        height: 800px;
    }

    /*Section: Footer*/
    #foot{
        display: flex;
        flex-direction: column;
        margin: 5px 25px;
    }
    #foot .box{
        flex-direction: column;
        margin: 10px;
    }
    #foot .box .contact{
        display: flex;
        flex-direction: column;
    }
    #foot .box ul li{
        font-size: 1.8rem;
        margin: 10px;
        padding: 1px;
    }
    #foot .box h1{
        display: block;
        width: 100%;
        font-size: 1.8rem;
    }
    #foot .box a{
        font-size: 1.8rem;
    }
    #foot p{
        font-size: 1.6rem;
    }
    #footer p{
        font-size: 1.5rem;
    }
    #footer .icon_btn{
        width: 55px;
        height: 55px;
    }
    #footer .icon_btn:hover{
        width: 57px;
        height: 57px;
    }
    /*feedback*/
    #feedback .box{
        width: 60%;
    }
    #feedback .submit_btn{
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: white;
    color: grey;
    width: 98.9%;
    margin-top: 10px;
    }
    #foot .formde{
        font-size: 1.3rem;
    }

    /*section: Offers*/
    #offer h1{
        font-size: 2.5rem;
    }

    #offer .box1{
        width: 285px;
        height: 530px;
    }
    #offer .box2{
        width: 285px;
    }
    #offer  .upper{
        margin: 5px;
        height: 530px;
    }
    #offer .box{
        height: 530px;
    }
    /*section: Download The App*/
    #app::before{
        height: 600px;
    }
    #app .box_move{
        justify-content: center;
        align-content: center;
    }
    #app{
        flex-direction: column;
        height: 1100px;
    }
    /*Phone animation*/
   
    #phone_app{
    margin-left: 19%;
    }
    #phone_app .outer{
        position: absolute;
        left: 20%;
        height: 700px;
        width: 400px;
    }
   
    #app::before{
        height: 1100px;
    }
    #app .video {
    position: relative;
    top: 97px;
    left: 132px;
    background-color: black;
    width: 350px;
    height: 570px;
    display: flex;
    /* display: block; */
    justify-content: center;
    align-items: center;
}
#app .video video{
    height: 570px;
}
    /*section: SERVICES*/
    /*#ser{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 5px 30px;
    }
    #services{
        height: 1760px;
    }
    #ser .box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px 90px;
    }
    #ser .icon_btn{
        width: 160px;
        height: 160px;
        margin: 5px;
    }
    #ser .icon_text{
        width: 180px;
        height: 180px;
        margin: 10px;
    }
    #ser .icon_text p{
        font-size: 1.2rem;
    }
    #ser .main{
        margin: auto;
        margin-right: 100px;
    }*/
    /*Numbers*/
    #number{
        margin: 15px;
    }
    /*Gallery*/
    #gallery .slider{
        height: 500px;
        margin-right: 130px;
    }
    #gallery .slide{
        width: 400px;
        height: 430px;
    }
}
/*back to top button*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background: url('https://ps.w.org/ar-back-to-top/assets/icon-256x256.jpg?rev=2022521') no-repeat center center/cover;
  background-size: cover;
  height: 50px;
  width: 50px;
  z-index: 100;
}
/*Gallery*/
.marq{
    display: inline !important;
    width: 300px;
    height:300px;
  }
/*Mobile view for Why barbera*/
@media only screen and (max-width:1000px) {
    #chooseus{
          flex-direction: column;
          justify-content: center;
          align-items: center;
    }
    #choose::before{
        height: 1300px;
    }
    #chooseus .box h1{
        font-size: 2.5rem;
    }
    #chooseus .box p{
        font-size: 2rem;
    }
    #chooseus .box{
        width: 80%;
    }
}
